@inject IJSRuntime JS
@inject ClientPlanetManager planetManager
@inject EditPlanetModal editPlanetModal

<h3>Edit Roles</h3>
<hr />
<br />

<div class="settings-inner" id="edit-inner-settings">

    @{
        string editStyle = "display: none";
        if (editMode) { editStyle = ""; }
    }

    <div style="@editStyle">
        <div class="rolecreate-cont">
            <div class="form-group mt-2">
                <label>Role Name</label>
                <input class="form-control" @bind-value="@role.Name" />
                <span id="rolename-span" class="text-danger">@roleNameSpan</span>
            </div>
            <div class="form-group mt-2 ml-2">
                <label>Color</label>
                <div class="picker-holder">
                    <ColorPickerComponent></ColorPickerComponent>
                </div>
            </div>

        </div>
        <div class="mt-2" style="display: block">
            <div class="btn-role-edit create" style="margin-left: 0px" @onclick="OnClickSave" id="role-save-button">
                <p class="center-t">
                    Save
                </p>
            </div>

            <div class="mt-2">
                <span id="result-span" class="text-info">@resultSpan</span>
                <span id="error-span" class="text-danger" style="display:block">@errorSpan</span>
            </div>
        </div>

        <br />
        <hr />
        <br />

        <h5 style="display: inline-block">Role Permissions</h5>
        <h7 style="float: right">Code for nerds: @role.Permissions &nbsp;</h7>

        @for (int i = 0; i < PlanetPermissions.Permissions.Length; i++)
        {
            PlanetPermission planetPerm = PlanetPermissions.Permissions[i];

            int val = i; // You have to do this for wacky binding reasons

            <div class="perm-list-item">
                <div class="perm-list-name mb-1">
                    @planetPerm.Name
                </div>
                <div type="button" style="float: right">
                    <label class="switch">
                        <input type="checkbox" @onclick="(e => PermClick(val))" checked="@rolePermValues[i]">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="perm-list-desc mt-1">
                    @planetPerm.Description
                </div>
            </div>
        }
    </div>

    @{
        string delStyle = "display: none";
        if (deleteMode) { delStyle = ""; }
    }


    <div style="@delStyle">
        <h3>Delete: @role.Name</h3>
        <h4>Are you sure?</h4>

        <br />

        <div class="btn btn-outline-primary" style="display:inline-block" @onclick="GoBack">Cancel</div>
        <div class="btn btn-danger" @onclick="Delete">Confirm</div>

        <div class="mt-2">
            <span id="result-span" class="text-info">@resultSpan</span>
            <span id="error-span" class="text-danger" style="display:block">@errorSpan</span>
        </div>
    </div>

    @{
        string normStyle = "display: none";
        if (!editMode && !deleteMode) { normStyle = ""; }
    }


    <div class="container" id="edit-rows-container" style="@normStyle">

        @foreach (PlanetRole role in Roles)
        {
            // For magic lambda
            var role_x = role;

            <div class="row mt-2" id="row-edit-holder">
                <div class="role-edit-row" id="role-edit-row">
                    <div class="role-edit">
                        <p style="color:@role.GetColorHex()">
                            @role.Name
                        </p>
                    </div>
                    <div id="role-edit-btn" class="btn-role-edit edit" @onclick="() => OnClickEdit(role_x)">
                        <p class="center-t">
                            Edit
                        </p>
                    </div>
                    <div id="role-delete-btn" class="btn-role-edit delete" @onclick="() => OnClickDelete(role_x)">
                        <p class="center-t">
                            Delete
                        </p>
                    </div>
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="btn-role-edit create" @onclick="OnClickCreateMode">
                <p class="center-t">
                    Create
                </p>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public ClientPlanet Planet { get; set; }

    public List<PlanetRole> Roles = new List<PlanetRole>();

    // Stuff for role creation //

    public PlanetRole role = new PlanetRole()
    {
        Name = "New Role",
        Color_Red = 255,
        Color_Green = 255,
        Color_Blue = 255
    };

    public bool editMode = false;

    public bool deleteMode = false;

    public string roleNameSpan = "";

    public string resultSpan = "";

    public string errorSpan = "";

    public bool[] rolePermValues = new bool[PlanetPermissions.Permissions.Length];

    // Stuff for role editing //

    public PlanetRole Selected { get; set; }

    public void PermClick(int id)
    {
        rolePermValues[id] = !rolePermValues[id];
        Console.WriteLine($"Toggled value for permission {id}");
        UpdatePermCode();
    }

    public void UpdatePermCode()
    {
        role.Permissions = 0x00;

        for (int i = 0; i < rolePermValues.Length; i++)
        {
            if (rolePermValues[i])
            {
                role.Permissions |= PlanetPermissions.Permissions[i].Value;
            }
        }

        //StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        Roles = await Planet.GetRolesAsync();
        planetManager.OnRoleUpdate += OnRolesUpdate;
        planetManager.OnRoleDeletion += OnRoleDeletion;
    }


    public async Task GoBack()
    {
        role = new PlanetRole(){
            Name = "New Role",
            Bold = false,
            Italics = false,
            Planet_Id = Planet.Id
        };
        deleteMode = false;
        editMode = false;

        StateHasChanged();
    }

    public async Task OnClickDelete(PlanetRole deleteRole)
    {
        resultSpan = "";
        errorSpan = "";

        role = deleteRole;
        deleteMode = true;
        editMode = false;

        StateHasChanged();
    }

    public async Task Delete()
    {
        HttpResponseMessage response = null;

        response = await ClientUserManager.Http.GetAsync($"Planet/DeleteRole?role_id={role.Id}" +
                                                                          $"&token={ClientUserManager.UserSecretToken}");

        Console.WriteLine(await response.Content.ReadAsStringAsync());

        TaskResult result = JsonConvert.DeserializeObject<TaskResult>(
            await response.Content.ReadAsStringAsync());

        if (result == null)
        {
            errorSpan = "No response from server!";
        }
        else
        {
            if (result.Success)
            {
                resultSpan = result.Message;
            }
            else
            {
                errorSpan = result.Message;
            }
        }

        deleteMode = false;

        StateHasChanged();
    }

    public async Task OnClickEdit(PlanetRole editRole)
    {
        resultSpan = "";
        errorSpan = "";

        role = editRole;
        editMode = true;
        deleteMode = false;

        rolePermValues = new bool[PlanetPermissions.Permissions.Length];

        for (int i = 0; i < PlanetPermissions.Permissions.Length; i++)
        {
            rolePermValues[i] = ((editRole.Permissions & PlanetPermissions.Permissions[i].Value)
                                                      == PlanetPermissions.Permissions[i].Value);
        }

        await JS.InvokeVoidAsync("SetColorPickerColor", role.GetColorHex());

        StateHasChanged();
    }

    public async Task OnClickCreateMode()
    {
        role = new PlanetRole(){
            Name = "New Role",
            Bold = false,
            Italics = false,
            Planet_Id = Planet.Id
        };

        rolePermValues = new bool[PlanetPermissions.Permissions.Length];
        editMode = true;

        StateHasChanged();
        await editPlanetModal.Open();
    }

    public async Task OnClickSave()
    {
        resultSpan = "";
        errorSpan = "";

        // Get chosen color
        float[] color = await JS.InvokeAsync<float[]>("GetChosenColor");

        role.Color_Red = (byte)Math.Round(color[0]);
        role.Color_Green = (byte)Math.Round(color[1]);
        role.Color_Blue = (byte)Math.Round(color[2]);

        Console.WriteLine($"Chosen color: rgb({role.Color_Red}, {role.Color_Green}, {role.Color_Blue})");

        // Create json payload to send to server for request
        // Id and authority is handled by the server

        //string json = JsonConvert.SerializeObject(role);

        HttpResponseMessage response = null;

        // If the id is not set, this is a new role to be created
        if (role.Id == 0)
        {
            response = await ClientUserManager.Http.PostAsJsonAsync($"Planet/CreateRole?planet_id={Planet.Id}" +
                                                                                         $"&token={ClientUserManager.UserSecretToken}", role);
        }
        // Otherwise we are editing a prior role
        else
        {
            response = await ClientUserManager.Http.PostAsJsonAsync($"Planet/EditRole?planet_id={Planet.Id}" +
                                                                                   $"&token={ClientUserManager.UserSecretToken}", role);
        }

        TaskResult result = JsonConvert.DeserializeObject<TaskResult>(
            await response.Content.ReadAsStringAsync());

        if (result == null)
        {
            errorSpan = "No response from server!";
        }
        else
        {
            if (result.Success)
            {
                resultSpan = result.Message;

                // If creating, send back to role list afterwards
                if (role.Id == 0)
                {
                    editMode = false;
                }
            }
            else
            {
                errorSpan = result.Message;
            }
        }

        StateHasChanged();

        editMode = false;
    }

    public async Task OnRoleDeletion(PlanetRole role)
    {
        Roles = await Planet.GetRolesAsync();
    }

    // Handle role list changes that may occur while open
    public async Task OnRolesUpdate(PlanetRole role)
    {

        var oldRole = Roles.FirstOrDefault(x => x.Id == role.Id);

        if (oldRole == null)
        {
            Roles = await Planet.GetRolesAsync();
            StateHasChanged();
            return;
        }

        var index = Roles.IndexOf(oldRole);

        // Set to new role
        Roles[index] = role;

        StateHasChanged();
    }
}
