@using System.Net.Http.Headers
@using Valour.Sdk.Extensions
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="title-container">
    <h3>Basic Info <i class="bi bi-info-circle-fill"></i></h3>
    <p class="subtitle">Change your basic account settings</p>
</div>

<br/>
<div class="preview">
    <UserInfoComponent User="@ValourClient.Self" @ref="@_infoPreview" />
</div>

<div class="mt-4 mb-4">
    <label>Status Message</label>
    <div class="input-group" style="max-width: 400px;">
        <input class="form-control" placeholder="Choose a status..." @bind="_status" />
        <button class="btn v-btn round-right" @onclick="OnStatusApply">Apply</button>
    </div>
    <ResultLabel Result="@_statusChangeResult" />
</div>

<div class="mb-4">
    <label>Status Code</label>
    <div class="input-group" style="max-width: 400px;">
        <InputSelect class="form-select" @bind-Value="_statusCode">
            <option value="0">Automatic</option>
            <option value="4">Online</option>
            <option value="2">Away</option>
            <option value="3">Do Not Disturb</option>
            <option value="1">Offline</option>
        </InputSelect>
        <button class="btn v-btn round-right" @onclick="@OnStatusCodeApply">Apply</button>
    </div>
    <ResultLabel Result="@_statusCodeChangeResult" />
</div>

<div class="mb-4">
    <label>Tag</label>
    <div class="input-group" style="max-width: 400px">
        <input class="form-control" placeholder="Tag" @bind="@_tag" maxlength="4" disabled="@(ValourClient.Self.Subscription is null)"/>
        <button class="btn v-btn round-right" @onclick="@OnTagApply" disabled="@(ValourClient.Self.Subscription is null)">Apply</button>
    </div>
    @if (ValourClient.Self.Subscription is null){
        <label>You need Stargazer to change your tag.</label>
    }
    <ResultLabel Result="@_tagChangeResult" />
</div>
<div class="mt-4 mb-4">
    <label>Profile Image (pfp)</label>
    <img alt="Your profile picture" class="avatar" src="@_pfpUrl" @onerror="@OnPfpError" onclick="document.getElementById('avatar-upload').click()" />
    <ResultLabel Result="@_pfpChangeResult" />
    <div style="display:none">
        <InputFile OnChange="@LoadFiles" accept=".png,.jpg,.jpeg,.gif,.webp" id="avatar-upload"></InputFile>
    </div>
</div>

<br/>

<h3>DANGER ZONE</h3>
<div class="btn-row">
    <button class="btn v-btn danger" @onclick="@OnClickDeleteAccount">Delete my Account</button>
    <button class="btn v-btn secondary" @onclick="@OnClickChangePassword">Change Password</button>
</div> 
<br/>
<br/>

@code {

    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }
    
    [Parameter] 
    public User User { get; set; }
    
    private UserInfoComponent _infoPreview;
    
    private string _tag;
    private ITaskResult _tagChangeResult;

    private string _pfpUrl;
    private ITaskResult _pfpChangeResult;

    private string _status;
    private ITaskResult _statusChangeResult;

    private int _statusCode;
    private ITaskResult _statusCodeChangeResult;
    
    private async Task OnStatusApply()
    {
        var oldStatus = User.Status;
        User.Status = _status;
        _statusChangeResult = await LiveModel.UpdateAsync(User);
        
        // Rollback change if it failed
        if (!_statusChangeResult.Success)
        {
            User.Status = oldStatus;
        }

        StateHasChanged();
        await _infoPreview.UpdateAll();
    }
    
    private async Task OnTagApply()
    {
        if (_tag.Length != 4)
        {
            _tagChangeResult = new TaskResult(false, "Tag must be 4 characters long.");
            StateHasChanged();
            return;
        }

        foreach (var c in _tag)
        {
            if (!char.IsLetterOrDigit(c))
            {
                _tagChangeResult = new TaskResult(false, "Tag must be alphanumeric.");
                StateHasChanged();
                return;
            }
        }
        
        var oldTag = User.Tag;
        User.Tag = _tag;
        _tagChangeResult = await LiveModel.UpdateAsync(User);
        
        // Rollback change if it failed
        if (!_tagChangeResult.Success)
        {
            User.Tag = oldTag;
        }
        
        StateHasChanged();
        await _infoPreview.UpdateAll();
    }

    private async Task OnStatusCodeApply()
    {
        var oldStatusCode = User.UserStateCode;
        User.UserStateCode = _statusCode;
        _statusCodeChangeResult = await LiveModel.UpdateAsync(User);
       
        // Rollback change if it failed
        if (!_statusCodeChangeResult.Success)
        {
            User.UserStateCode = oldStatusCode;
        }

        StateHasChanged();
        await _infoPreview.UpdateAll();
    }

    protected override void OnInitialized()
    {
        _pfpUrl = User.GetAvatarUrl(AvatarFormat.Webp256);
        _status = User.Status;
        _statusCode = User.UserStateCode;
        _tag = User.Tag;
    }

    private void OnPfpError()
    {
        _pfpUrl = "_content/Valour.Client/icon-512.png";
        StateHasChanged();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;
        
        // 10mb limit
        if (file.Size > 10240000)
        {
            _pfpChangeResult = new TaskResult(false, "Max profile image size is 10mb.");
            StateHasChanged();
            return;
        }
        
        var streamContent = new StreamContent(file.OpenReadStream(10240000));
        var content = new MultipartFormDataContent();
        streamContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);
        content.Add(streamContent, file.Name, file.Name);
        
        var result = await ValourClient.PrimaryNode.PostAsyncWithResponse<string>($"upload/profile", content);
        _pfpChangeResult = result;
        
        if (_pfpChangeResult.Success)
        {
            // We slightly modify the url to force a refresh
            _pfpUrl = User.GetAvatarUrl(AvatarFormat.WebpAnimated256) + $"?x={DateTime.Now.Ticks}";
        }
        
        StateHasChanged();
        await _infoPreview.UpdateAll();
    }

    private void OnClickDeleteAccount()
    {
        ModalRoot.OpenModal<DeleteAccountModal>();
    }
    
    private void OnClickChangePassword()
    {
        ModalRoot.OpenModal<ChangePasswordModal>();
    }
}