@using Valour.Client.Components.Windows.ModTools
@inherits Modal<EditUserComponent.ModalParams>
@inject NavigationManager NavManager
@inject ValourClient Client


@if (@Data.User is null)
{
    <div class="background">
        <h5>Loading user...</h5>
    </div>
    return;
}

<BigMenuComponent StartTopMenu="@Data.StartTopMenu" StartSubMenu="@Data.StartSubMenu" @ref="BigMenu">
    <LeftSide>
        <section>
            <p class="user-settings">USER SETTINGS</p>

            <div class="menu">
                <BigMenuTopLevelMenuComponent Icon="gear-fill" Name="General Settings">
                    <BigMenuSubMenuComponent Icon="info-circle-fill" Name="Info"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="person-fill" Name="Profile"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="person-heart" Name="Friends"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="palette-fill" Name="Themes"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="rocket-takeoff-fill" Name="Subscriptions"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="envelope-paper-heart-fill" Name="Referrals"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="sign-stop-lights-fill" Name="Permissions"></BigMenuSubMenuComponent>
                    <BigMenuSubMenuComponent Icon="phone-fill" Name="Device Preferences"></BigMenuSubMenuComponent>
                    @if (Client.Me.ValourStaff)
                    {
                        <BigMenuSubMenuComponent OnClickOverride="OpenStaffTools" Icon="hammer" Name="Staff Tools"></BigMenuSubMenuComponent>
                    }
                    <BigMenuSubMenuComponent Icon="x-octagon-fill" Name="Log Out"></BigMenuSubMenuComponent>
                </BigMenuTopLevelMenuComponent>
            </div>
        </section>
    </LeftSide>
    <RightSide>
        @switch (BigMenu.SelectedTopLevelMenu?.Name)
        {
            case "General Settings":
                switch (BigMenu.SelectedSubMenu.Name)
                {
                    case "Info":
                        <EditUserInfoComponent User="@Data.User"></EditUserInfoComponent>
                        break;
                    case "Profile":
                        <EditProfileComponent></EditProfileComponent>
                        break;
                    case "Themes":
                        <EditThemeComponent></EditThemeComponent>
                        break;
                    case "Permissions":
                        <EditUserNotificationsComponent></EditUserNotificationsComponent>
                        break;
                    case "Device Preferences":
                        <EditDevicePreferencesComponent></EditDevicePreferencesComponent>
                        break;
                    case "Subscriptions":
                        <EditSubscriptionsComponent></EditSubscriptionsComponent>
                        break;
                    case "Referrals":
                        <EditReferralsComponent></EditReferralsComponent>
                        break;
                    case "Friends":
                        <EditFriendsComponent></EditFriendsComponent>
                        break;
                    case "Log Out":
                        <EditUserInfoComponent User="@Data.User"></EditUserInfoComponent>
                        break;
                }
                break;
        }
    </RightSide>
</BigMenuComponent>

@code {
    
    [CascadingParameter]
    public BrowserUtils DomWindow { get; set; }

    public class ModalParams
    {
        public User User;
        public string StartTopMenu;
        public string StartSubMenu;
    }

    private BigMenuComponent BigMenu { get; set; }

    public void Dispose()
    {
        BigMenu.OnRefreshRightSide -= Refresh;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            BigMenu.OnRefreshRightSide += Refresh;
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private async void Refresh()
    {
        if (BigMenu.SelectedSubMenu?.Name == "Log Out")
        {
            await LogOut();
        }
        else
        {
            StateHasChanged();
        }
    }

    private async Task LogOut()
    {
        try
        {
            var cData = new ConfirmModalComponent.ModalParams(
            "Log Out",
            "Are you sure?",
            "Yes, log out",
            "Cancel",
            async () =>
            {
                var result = await Client.PrimaryNode.PostAsync($"api/users/me/logout", null);
                Console.WriteLine(result.Message);
                NavManager.NavigateTo("/", true);
            },
            () =>
            {
                return Task.CompletedTask;
            }
        );

            ModalRoot.OpenModal<ConfirmModalComponent>(cData);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);

            // If an error occurs in building/using the ConfirmModal, it reverts back to original behavior and logs out regardless
            var result = await Client.PrimaryNode.PostAsync($"api/users/me/logout", null);
            Console.WriteLine(result.Message);
            NavManager.NavigateTo("/", true);
        }
    }
    
    private async Task OpenStaffTools()
    {
        var data = new ModToolsWindowData()
        {
            Staff = true
        };

        var content = ModToolsWindowComponent.GetDefaultContent(data);
        var floatingProps = ModToolsWindowComponent.GetDefaultFloatingProps();
        await WindowService.TryAddFloatingWindow(content, floatingProps);

        await CloseAsync();
    }
}