@inject IJSRuntime JsRuntime
@inject ValourClient Client
@inject ThemeService ThemeService

@using System.Net.Http.Headers
@using Valour.Shared.Extensions
@using Valour.Client.Utility
@using Valour.Sdk.ModelLogic.QueryEngines

@* Editing page *@
@if (_editingTheme is not null)
{
    <style>
        .pickr-button {
            position: absolute;
            right: 0px;
            transition: none 0s ease 0s;
            background-color: var(--pcr-color);
            height: 100%;
            width: 50px;
            border-radius: 0 2em 2em 0;
        }
    </style>
    
    <h4 class="title">Theme Editor</h4>
    <h5 class="subtitle">Build your own theme!</h5>
    <br />
    @if (_blobUrl is not null)
    {
        <div class="theme-img theme-img-@_editingTheme.Id" style="background-image: url(@_blobUrl)" onclick="document.getElementById('banner-upload').click()"></div>
    }
    else if (_editingTheme.HasCustomBanner)
    {
        if (_editingTheme.HasAnimatedBanner)
        {
            <style>
                .theme-img-@_editingTheme.Id:hover {
                    background-image: url(@_editingTheme.GetBannerUrl(ThemeBannerFormat.WebpAnimated)), url(@_editingTheme.GetBannerUrl(ThemeBannerFormat.Webp)), url(_content/Valour.Client/media/image-not-found.webp) !important;
                }
            </style>
        }
        
        <div class="theme-img theme-img-@_editingTheme.Id" style="background-image: url(@_editingTheme.GetBannerUrl(ThemeBannerFormat.Webp)), url(_content/Valour.Client/media/image-not-found.webp)" onclick="document.getElementById('banner-upload').click()"></div>
    }
    else
    {
        <div class="theme-img" style="text-align: center; background-color: @_editingTheme.MainColor1" onclick="document.getElementById('banner-upload').click()"> 
            <Victor Style="max-height: 80%; padding: 5px; padding-top: 10px;" Color="@_editingTheme.PastelCyan" />
        </div>
    }
    <br />
    <p>Suggested image size: 600x300px</p>
    
    
    <div style="display:none">
        <InputFile OnChange="@LoadFiles" accept=".png,.jpg,.jpeg,.gif,.webp" id="banner-upload"></InputFile>
    </div>
    
    <br />
    <br />
                                                                                                                                   
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" @bind-value="@_editingTheme.Name" />
    </div>
    <br />
    <div class="form-group">
        <label>Description</label>
        <InputTextArea @bind-Value="@_editingTheme.Description" class="form-control">
        </InputTextArea>
    </div>
    <br />
    <div class="form-group">
        <label>Publishing</label>
        @if (_editingTheme.Published)
        {
            <button class="btn v-btn danger" @onclick="@(() => SetPublished(false))">
                Switch to Unpublished
            </button>
        }
        else
        {
            <button class="btn v-btn primary" @onclick="@(() => SetPublished(true))">
                Switch to Published
            </button>
        }
    </div>
    <br />
    <label>Color Swatch</label>
    <section class="color-section">
        <div class="color-pill">
            <span>Font Color</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.FontColor" OnColorChange="@OnChangeFontColor"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Alt Font Color</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.FontAltColor" OnColorChange="@OnChangeFontAltColor"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Link Color</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.LinkColor" OnColorChange="@OnChangeLinkColor"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>BG Color 1</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.MainColor1" OnColorChange="@OnChangeMainColor1"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>BG Color 2</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.MainColor2" OnColorChange="@OnChangeMainColor2"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>BG Color 3</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.MainColor3" OnColorChange="@OnChangeMainColor3"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>BG Color 4</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.MainColor4" OnColorChange="@OnChangeMainColor4"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>BG Color 5</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.MainColor5" OnColorChange="@OnChangeMainColor5"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Tint Color</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.TintColor" OnColorChange="@OnChangeTintColor"/>
        </div>
        <br/>

        <div class="color-pill">
            <span>Vibrant 1</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.VibrantPurple" OnColorChange="@OnChangeVibrantColor1"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Vibrant 2</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.VibrantBlue" OnColorChange="@OnChangeVibrantColor2"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Vibrant 3</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.VibrantCyan" OnColorChange="@OnChangeVibrantColor3"/>
        </div>
        <br/>

        <div class="color-pill">
            <span>Pastel 1</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.PastelCyan" OnColorChange="@OnChangePastelColor1"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Pastel 2</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.PastelCyanPurple" OnColorChange="@OnChangePastelColor2"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Pastel 3</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.PastelPurple" OnColorChange="@OnChangePastelColor3"/>
        </div>
        <br/>
        <div class="color-pill">
            <span>Pastel Danger</span>
            <ColorPickerComponent UseAsButton="true" ButtonClass="pickr-button" StartColor="@_editingTheme.PastelRed" OnColorChange="@OnChangePastelColorDanger"/>
        </div>
        <br/>
        <br/>
    </section>
    
    <div class="form-group">
        <label>Custom CSS</label>
        <InputTextArea @bind-Value="@_editingTheme.CustomCss" class="form-control">
        </InputTextArea>
        <button class="btn v-btn tertiary mt-2" @onclick="@OnCssChange">Apply CSS to Theme</button>
    </div>
    
    <br />
    
    <div class="button-row">
        <button class="btn v-btn large danger" @onclick="@CancelEdit">Cancel Changes</button>
        <button class="btn v-btn large tertiary" @onclick="@ConfirmChangesAsync">Confirm Changes</button>
    </div>
    
    <br />
    
    <ResultLabel Result="@_editingResult"/>
    
    <br />
}
@* Home page *@
else
{
    <h5>Current Theme:</h5>
    <br/>
    
    <div class="current-theme-section">
        <ThemeCard Theme="@ThemeComponent.Instance.CurrentTheme.ToMeta()" />
        <div class="create-theme-card" @onclick="@EnterEditorNewTheme">
            <div class="create-theme-content">
                <div class="create-theme-icon">
                    <i class="bi bi-plus-circle"></i>
                </div>
                <h4 class="create-theme-title">Create New Theme</h4>
                <p class="create-theme-description">Start building your own custom theme</p>
                <button class="create-theme-btn">
                    <i class="bi bi-palette"></i>
                    Get Started
                </button>
            </div>
        </div>
    </div>
    
    @if (ThemeComponent.Instance.CurrentTheme != Theme.Default)
    {
        <div class="form-group">
            <button class="btn v-btn tertiary mt-2" @onclick="@RevertThemeAsync">Revert to Default Theme</button>
        </div>
    }

    <br/>
    <br />
    
    <div class="theme-section">
        <h5>Popular Themes</h5>
        <LargeSearch Placeholder="Search themes..."
                     DebounceMs="300"
                     OnSearchChanged="@OnSearchChangeAsync"
                     OnSearchCleared="@OnSearchCleared" />
        <div class="carousel-section">
            <Carousel TItem="Valour.Sdk.Models.Themes.ThemeMeta"
                      @ref="_popularCarousel"
                      Items="@_popularThemesList"
                      Breakpoints="@_themeBreakpoints"
                      GapPx="16"
                      TransitionMs="300"
                      MinItemWidth="200"
                      MaxItemWidth="300"
                      ItemPadding="8"
                      IsLoading="@_isLoadingPopular"
                      EmptyMessage="No popular themes found">
                <ItemTemplate>
                    <ThemeCard Theme="@context" Editor="@this" />
                </ItemTemplate>
            </Carousel>
        </div>
    </div>
    
    <div class="theme-section">
        <h5>My Themes</h5>
        <div class="carousel-section">
            <Carousel TItem="Valour.Sdk.Models.Themes.ThemeMeta"
                      @ref="@_myCarousel"
                      Items="@_myThemes"
                      Breakpoints="@_themeBreakpoints"
                      GapPx="16"
                      TransitionMs="300"
                      MinItemWidth="200"
                      MaxItemWidth="300"
                      ItemPadding="8"
                      IsLoading="@_isLoadingMy"
                      EmptyMessage="You haven't created any themes yet">
                <ItemTemplate>
                    <ThemeCard Theme="@context" Editor="@this" />
                </ItemTemplate>
            </Carousel>
        </div>
    </div>

    <br />
    
}

@code {
    private Theme _backupTheme;
    private Theme _editingTheme;
    
    private Carousel<Valour.Sdk.Models.Themes.ThemeMeta> _popularCarousel;
    private Carousel<Valour.Sdk.Models.Themes.ThemeMeta> _myCarousel;

    private ThemeMetaQueryEngine _popularThemes;
    private int _popularThemeCount = 0;
    private List<Valour.Sdk.Models.Themes.ThemeMeta> _popularThemesList = new();
    private bool _isLoadingPopular = false;
    
    private List<Valour.Sdk.Models.Themes.ThemeMeta> _myThemes;
    private bool _isLoadingMy = false;
    
    private readonly List<Breakpoint> _themeBreakpoints = new()
    {
        new() { MinWidth = 0, Visible = 1 },      // Mobile: 1 item
        new() { MinWidth = 600, Visible = 2 },    // Tablet: 2 items
        new() { MinWidth = 900, Visible = 3 },    // Desktop: 3 items
        new() { MinWidth = 1200, Visible = 4 }    // Large: 4 items
    };

    private TaskResult<Theme>? _editingResult = null;

    private IBrowserFile _uploadedImage = null;
    private byte[] _uploadedImageBytes = null;
    
    private string _blobUrl;

    protected override async Task OnInitializedAsync()
    {
        await GetAllThemes();
        ThemeComponent.OnThemeChanged += ThemeChangedHandler;
        StateHasChanged();
    }
    
     
    private void ThemeChangedHandler()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        _uploadedImage = e.File;
        
        using MemoryStream ms = new();
        var fileStream = e.File.OpenReadStream();
        await fileStream.CopyToAsync(ms);
        _uploadedImageBytes = ms.ToArray();
        
        _blobUrl = await JsRuntime.InvokeAsync<string>("createBlob", _uploadedImageBytes, e.File.ContentType);
        
        StateHasChanged();
    }
   


    private async Task OnSearchChangeAsync(string searchValue)
    {
        _isLoadingPopular = true;
        StateHasChanged();

        try
        {
            // Use proper ModelQueryEngine API with QueryOptions
            _popularThemes.SetFilter("search", searchValue, apply: true);

            // Reload themes with new filter
            _popularThemesList.Clear();
            _popularThemeCount = await _popularThemes.GetTotalCountAsync();

            // Load themes in batches
            int pageSize = 50;
            int currentPage = 0;

            while (true)
            {
                var page = await _popularThemes.GetPageAsync(currentPage, pageSize);
                if (page == null || page.Count == 0)
                    break;

                _popularThemesList.AddRange(page);

                if (page.Count < pageSize)
                    break;

                currentPage++;
            }
        }
        finally
        {
            _isLoadingPopular = false;
            StateHasChanged();

            if (_popularCarousel is not null)
                await _popularCarousel.Reset();
        }
    }

    private async Task OnSearchCleared()
    {
        _isLoadingPopular = true;
        StateHasChanged();

        try
        {
            // Clear the search filter
            _popularThemes.SetFilter("search", null, apply: true);

            // Reload themes without filter
            _popularThemesList.Clear();
            _popularThemeCount = await _popularThemes.GetTotalCountAsync();

            // Load themes in batches
            int pageSize = 50;
            int currentPage = 0;

            while (true)
            {
                var page = await _popularThemes.GetPageAsync(currentPage, pageSize);
                if (page == null || page.Count == 0)
                    break;

                _popularThemesList.AddRange(page);

                if (page.Count < pageSize)
                    break;

                currentPage++;
            }
        }
        finally
        {
            _isLoadingPopular = false;
            StateHasChanged();

            if (_popularCarousel is not null)
                await _popularCarousel.Reset();
        }
    }
    
    private void OnCssChange()
    {
        ThemeComponent.Instance.Refresh();
        Client.Logger.Log<EditThemeComponent>("Custom CSS updated.", "cyan");
    }
    
    private async Task SetPublished(bool published)
    {
        _editingTheme.Published = published;
        _myThemes = await ThemeService.GetMyThemes();
        StateHasChanged();
    }

    private async Task RevertThemeAsync()
    {
        await ThemeComponent.Instance.UninstallThemeAsync();
    }


    public void OpenEditorWithTheme(Theme theme)
    {
        _backupTheme = ThemeComponent.Instance.CurrentTheme;
        _editingTheme = theme;
        
        ThemeComponent.Instance.CurrentTheme = theme;
        ThemeComponent.Instance.Refresh();
        
        Client.Logger.Log<EditThemeComponent>($"Entering editor for theme: {theme.Name}", "cyan");
        
        StateHasChanged();
    }

    private void EnterEditorNewTheme()
    {
        _backupTheme = ThemeComponent.Instance.CurrentTheme;
        
        _editingTheme = new Theme(Client);
        ThemeComponent.Instance.CurrentTheme.CopyAllTo(_editingTheme);
        _editingTheme.Id = 0;
        _editingTheme.Name = "New Theme";
        _editingTheme.Description = "A new theme!";
        
        ThemeComponent.Instance.CurrentTheme = _editingTheme;
        
        Client.Logger.Log<EditThemeComponent>("Entering editor for new theme.", "cyan");
        
        StateHasChanged();
    }
    
    private void CancelEdit()
    {
        _editingTheme = null;
        Client.Logger.Log<EditThemeComponent>("Cancelled theme editing.", "cyan");
        
        ThemeComponent.Instance.CurrentTheme = _backupTheme;
        
        ThemeComponent.Instance.Refresh();
        
        StateHasChanged();
    }

    private async Task UploadBannerIfNeededAsync()
    {
        if (_uploadedImage is null)
            return;

        if (_uploadedImage.Size > 10240000)
            return;
        
        using var ms = new MemoryStream(_uploadedImageBytes);
        var streamContent = new StreamContent(ms);
        var content = new MultipartFormDataContent();
        streamContent.Headers.ContentType = new MediaTypeHeaderValue(_uploadedImage.ContentType);
        content.Add(streamContent, _uploadedImage.Name, _uploadedImage.Name);
        
        var result = await Client.PrimaryNode.PostMultipartDataWithResponse<string>($"upload/themeBanner/{_editingTheme.Id}", content);
        if (!result.Success)
        {
            Console.WriteLine("Failed to upload banner: " + result.Message);
        }

        _blobUrl = null;
    }

    private async Task ConfirmChangesAsync()
    {
        if (_editingTheme is null)
            return;

        // Prevent duplicate names for new themes only
        if (_editingTheme.Id == 0 && _myThemes != null && _myThemes.Any(t => t.Name == _editingTheme.Name))
        {
            _editingResult = new TaskResult<Theme>(false, "You already have a theme with that name.");
            StateHasChanged();
            return;
        }

        if (_editingTheme.Id == 0)
        {
            // New theme
            _editingResult = await _editingTheme.CreateAsync();
            await GetAllThemes();
            StateHasChanged();
        }
        else
        {
            // Existing theme
            _editingResult = await _editingTheme.UpdateAsync();
            await GetAllThemes();
            StateHasChanged();
        }

        if (!_editingResult.Value.Success)
        {
            Client.Logger.Log<EditThemeComponent>($"Failed to save theme: {_editingResult.Value.Message}", "red");
        }
        else
        {
            _editingTheme = _editingResult.Value.Data;
            
            await UploadBannerIfNeededAsync();
            
            _editingTheme = null;
            StateHasChanged();
        }
    }

    private Task OnChangeFontColor(string newColor)
    {
        _editingTheme.FontColor = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeFontAltColor(string newColor)
    {
        _editingTheme.FontAltColor = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeLinkColor(string newColor)
    {
        _editingTheme.LinkColor = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeMainColor1(string newColor)
    {
        _editingTheme.MainColor1 = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeMainColor2(string newColor)
    {
        _editingTheme.MainColor2 = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeMainColor3(string newColor)
    {
        _editingTheme.MainColor3 = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeMainColor4(string newColor)
    {
        _editingTheme.MainColor4 = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeMainColor5(string newColor)
    {
        _editingTheme.MainColor5 = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeTintColor(string newColor)
    {
        _editingTheme.TintColor = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeVibrantColor1(string newColor)
    {
        _editingTheme.VibrantPurple = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeVibrantColor2(string newColor)
    {
        _editingTheme.VibrantBlue = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangeVibrantColor3(string newColor)
    {
        _editingTheme.VibrantCyan = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangePastelColor1(string newColor)
    {
        _editingTheme.PastelCyan = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangePastelColor2(string newColor)
    {
        _editingTheme.PastelCyanPurple = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangePastelColor3(string newColor)
    {
        _editingTheme.PastelPurple = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }
    
    private Task OnChangePastelColorDanger(string newColor)
    {
        _editingTheme.PastelRed = newColor;
        ThemeComponent.Instance.Refresh();
        return Task.CompletedTask;
    }

    private async Task GetAllThemes()
    {
        // Set loading states
        _isLoadingPopular = true;
        _isLoadingMy = true;
        StateHasChanged();
        
        try
        {
            _popularThemes = ThemeService.GetAvailableThemeReader(amount: 100);
            
            // Load all popular themes into a list
            _popularThemesList.Clear();
            _popularThemeCount = await _popularThemes.GetTotalCountAsync();
            
            // Load themes in batches
            int pageSize = 50;
            int currentPage = 0;
            
            while (true)
            {
                var page = await _popularThemes.GetPageAsync(currentPage, pageSize);
                if (page == null || page.Count == 0)
                    break;
                    
                _popularThemesList.AddRange(page);
                
                if (page.Count < pageSize)
                    break;
                    
                currentPage++;
            }
            
            _myThemes = await ThemeService.GetMyThemes();
        }
        finally
        {
            // Clear loading states
            _isLoadingPopular = false;
            _isLoadingMy = false;
            StateHasChanged();

            if (_popularCarousel is not null)
                await _popularCarousel.Reset();
            if (_myCarousel is not null)
                await _myCarousel.Reset();
        }
    }
    
    public void Dispose()
    {
        ThemeComponent.OnThemeChanged -= ThemeChangedHandler;
    }
}