@using System.Web

<h3>Referrals</h3>
<p class="subtitle">HELP GROW VALOUR</p>

<br/>
<h4>Your Referral Link:</h4>
<a class="mt-2" href="@_link">@_link</a>
<button class="v-btn mt-2">Copy Link</button>

@if (_referrals is null)
{
    <p>Loading referrals...</p>
}
else
{
    <table class="v-table" style="max-height: 600px">
        <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Reward</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var referral in _referrals)
        {
            <tr>
                <td>@referral.Name</td>
                <td>@referral.Time.ToShortDateString() @referral.Time.ToShortTimeString()</td>
                <td>@referral.Reward</td>
            </tr>   
        }
        </tbody>
    </table>
}


@code {
    private readonly string _link = "https://app.valour.gg/register/referral/" + HttpUtility.UrlEncode(ValourClient.Self.NameAndTag);
    private List<ReferralDataModel> _referrals;

    protected override async Task OnInitializedAsync()
    {
        var result = await ValourClient.GetReferralsAsync();
        _referrals = result.Data;
        StateHasChanged();
    }

}