@page "/"

@using Valour.Shared
@using Valour.Shared.Categories;
@inject HttpClient Http
@inject NavigationManager navManager
@using Microsoft.AspNetCore.SignalR.Client;
@inject IJSRuntime JS
@inject ClientPlanetManager planetManager
@inject ClientWindowManager windowManager

<!-- Check login status -->
@if (ClientUserManager.IsLoggedIn())
{
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <body style="height: 100%">
        <div class="mainrow">
            <div class="sidebar" id="sidebar1">

                <div style="width: 250px">
                    <img class="valour-logo" src="icon-512.png">

                    <div style="display:inline-block; vertical-align: middle">
                        <p class="valour-name">
                            Valour
                        </p>
                        <p class="valour-version">
                            Valour Platform Version 0.0.1 Pre-Alpha
                        </p>
                    </div>
                </div>

                @if (planetManager.GetCurrent() != null)
                {

                    foreach (var user in planetUserList)
                    {
                        <RoleComponent Name="Emperor"></RoleComponent>
                        <UserComponent Only="true" User="@user"></UserComponent>
                    }
                }
            </div>
            <div class="sidebar-2" id="sidebar2">
                <CurrentPlanetComponent Planet="@planetManager.GetCurrent()"></CurrentPlanetComponent>
                @if (planetManager.GetCurrent() != null)
                {
                    <!-- The Modal -->
                    <div class="modal edit-planet-modal" id="EditPlanetModal">
                        <!-- Modal content -->
                        <div class="modal-content-EditPlanet">
                            <div class="login-box">
                                <div class="col-md-12" style="height: 100%; width: 100%;">
                                    <EditPlanetComponent Planet="@planetManager.GetCurrent()"></EditPlanetComponent>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="top-bar">
                </div>
                <UserInfoComponent User="@ClientUserManager.User"></UserInfoComponent>
                @if (planetManager.GetCurrent() != null)
                {
                    ClientWindow window = windowManager.GetSelectedWindow();
                    ChatChannelWindow channelWindow = (ChatChannelWindow)window;
                    Planet planet = planetManager.GetCurrent();
                    @foreach (PlanetCategory category in PlanetCategoryChannelList)
                    {
                        @if (category.Parent_Id == null)
                        {
                            <CategoryComponent PlanetCategoryChannelList="@PlanetCategoryChannelList" Category="@category" channelWindow="@channelWindow" planet="@planet" PlanetChannelList="@PlanetChannelList">
                            </CategoryComponent>
                        }
                    }
                }
            </div>
            <div class="channel-and-topbar" id="mainwindow">
                <div class="topbar">
                </div>
                <div class="topline">
                </div>
                <!--
        Todo: Logic for multiple main windows.
        This will be fun.
    -->
                <!--
        Add dummy window so Jacob doesn't cry
    -->

                @if (windowManager.GetWindowCount() == 0)
                {
                    windowManager.AddWindow(new HomeWindow(0));
                }

                @if (windowManager.GetWindowCount() < 4)
                {
                    <div class="add-window-button" @onclick="@OnAddWindow">
                        <NewWindowComponent></NewWindowComponent>
                    </div>
                }

                <div id="window-man" class="window-grid">

                    @if (windowManager.GetWindowCount() == 1)
                    {
                        <MainWindowComponent Window="windowManager.GetWindow(0)" StyleClass="main-window-full"></MainWindowComponent>
                    }
                    else if (windowManager.GetWindowCount() == 2)
                    {
                        <MainWindowComponent Window="windowManager.GetWindow(0)" StyleClass="main-window-full"></MainWindowComponent>
                        <MainWindowComponent Window="windowManager.GetWindow(1)" StyleClass="main-window-full"></MainWindowComponent>
                    }
                    else if (windowManager.GetWindowCount() == 3)
                    {
                        <div id="window-col1" class="window-col">
                            <MainWindowComponent Window="windowManager.GetWindow(0)" StyleClass="main-window-full"></MainWindowComponent>
                        </div>
                        <div id="window-col2" class="window-col">
                            <MainWindowComponent Window="windowManager.GetWindow(1)" StyleClass="main-window"></MainWindowComponent>
                            <MainWindowComponent Window="windowManager.GetWindow(2)" StyleClass="main-window"></MainWindowComponent>
                        </div>
                    }
                    else if (windowManager.GetWindowCount() == 4)
                    {
                        <div id="window-col1" class="window-col">
                            <MainWindowComponent Window="windowManager.GetWindow(0)" StyleClass="main-window"></MainWindowComponent>
                            <MainWindowComponent Window="windowManager.GetWindow(1)" StyleClass="main-window"></MainWindowComponent>
                        </div>
                        <div id="window-col2" class="window-col">
                            <MainWindowComponent Window="windowManager.GetWindow(2)" StyleClass="main-window"></MainWindowComponent>
                            <MainWindowComponent Window="windowManager.GetWindow(3)" StyleClass="main-window"></MainWindowComponent>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="context-menu AddChannelCategoryContextMenu" id="" style="display:none;">
            <div class="context-menu-item" onclick="AddChannelButtonFunction()">
                <p class="context-menu-item-text">
                Add Channel
                </p>
            </div>
            <div class="context-menu-item">
                <p class="context-menu-item-text" onclick="AddCategoryButtonFunction()">
                Add Category
                </p>
            </div>
        </div>

        <div class="context-menu ChannelListItemContextMenu" id="" style="display:none;">
            <div class="context-menu-item" onclick="">
                <p class="context-menu-item-text">
                Edit
                </p>
            </div>
            <div class="context-menu-item delete-context-menu-item" onclick="DeleteChannelListItem()">
                <p class="context-menu-item-text">
                Delete
                </p>
            </div>
        </div>

    </body>
}
else
{
    <LoginComponent></LoginComponent>
}

@code{

    public ConcurrentBag<ClientPlanetUser> planetUserList = new ConcurrentBag<ClientPlanetUser>();

    public ConcurrentBag<ClientPlanetChatChannel> PlanetChannelList = new ConcurrentBag<ClientPlanetChatChannel>();

    public ConcurrentBag<PlanetCategory> PlanetCategoryChannelList = new ConcurrentBag<PlanetCategory>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        planetManager.OnPlanetChange += OnPlanetChange;
        planetManager.OnChannelsUpdate += OnChannelsUpdate;
        planetManager.OnChannelWindowUpdate += OnChannelWindowUpdate;
        planetManager.OnCategoriesUpdate += OnCategoriesUpdate;
    }

    public void Dispose()
    {
        planetManager.OnPlanetChange -= OnPlanetChange;
        planetManager.OnChannelsUpdate -= OnChannelsUpdate;
        planetManager.OnChannelWindowUpdate -= OnChannelWindowUpdate;
        planetManager.OnCategoriesUpdate -= OnCategoriesUpdate;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await SetupWindows();
    }

    private async Task SetupWindows()
    {
        await JS.InvokeVoidAsync("SizeEnable");
    }

    private async Task OnAddWindow()
    {
        if (windowManager.GetWindowCount() == 4)
        {
            return;
        }

        windowManager.AddWindow(new HomeWindow(windowManager.GetWindowCount() - 1));

        StateHasChanged();
    }

    public async Task OnChannelWindowUpdate()
    {
        StateHasChanged();
    }

    public async Task OnCategoriesUpdate()
    {
        ClientPlanet dummy = new ClientPlanet();

        Planet planet = planetManager.GetCurrent();

        PlanetCategoryChannelList.Clear();

        foreach (PlanetCategory category in await dummy.GetClientPlanetCategoriesAsync(planet.Id))
        {
            PlanetCategoryChannelList.Add(category);
        }

        StateHasChanged();
    }

    public async Task OnChannelsUpdate()
    {
        ClientPlanet dummy = new ClientPlanet();

        Planet planet = planetManager.GetCurrent();

        PlanetChannelList.Clear();

        foreach (ClientPlanetChatChannel channel in await dummy.GetClientPlanetChannelsAsync(planet.Id))
        {
            PlanetChannelList.Add(channel);
        }

        StateHasChanged();
    }

    public async Task OnPlanetChange()
    {
        if (planetManager.GetCurrent() == null) return;

        planetUserList.Clear();

        ClientPlanetUser self = await PlanetUserCache.GetPlanetUserAsync(ClientUserManager.User.Id, planetManager.GetCurrent().Id);

        planetUserList.Add(self);

        await OnChannelsUpdate();

        await OnCategoriesUpdate();

        StateHasChanged();
    }
}