@page "/I/{InviteCode}"

@inject NavigationManager NavManager

<body class="login-background" style="background-image: url('_content/Valour.Client/media/Abstract-Background.png')">
    <div class="popup-box">
        <div class="col-md-12">
            <section class="text-center">

                @if (_loading)
                {
                    <h2>Loading...</h2>
                }
                else
                {
                    <h2 class="invite-title">Do you want to join</h2>
                    <div style="text-align: center">
                        <h3 class="text-info invite-name">@_inviteData.PlanetName</h3>
                        <h3 class="invite-name">?</h3>
                    </div>
                    <img alt="@_inviteData.PlanetName icon" class="planet-card-icon mt-2" style="width:128px;" src="@_inviteData.PlanetImageUrl" @onerror="OnIconError" />
                                                                                                                                                                  
                    if (!ValourClient.IsLoggedIn)
                    {
                        <p class="m-4">Log in or register to join this planet</p>
                        <button class="v-btn blue large mt-2" @onclick="OnClickLogin">Log in and Join</button>
                        <button class="v-btn blue large mt-2" @onclick="OnClickRegister">Register and Join</button>
                    }
                    else if (_alreadyJoined)
                    {
                        <p class="m-4">You have already joined this planet</p>
                        <button class="v-btn center mt-4" @onclick="OnClose">Back to Home</button>
                    }
                    else
                    {
                        <button class="v-btn center mt-4" @onclick="OnClickJoin">Join Planet</button>
                    }
                    
                    <span class="text-info" style="text-align:center">@_infoSpan</span>
                    <span class="text-danger" style="text-align:center">@_errorSpan</span>
                }
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string InviteCode {get; set;}
    
    private string _infoSpan = "";
    private string _errorSpan = "";

    private bool _clicked;
    private bool _loading = true;

    private bool _alreadyJoined;

    private InviteScreenModel _inviteData;

    protected override async  Task OnInitializedAsync()
    {
        _inviteData = await PlanetInvite.GetInviteScreenData(InviteCode);
        
        if (_inviteData is null)
        {
            _errorSpan = "Failed to find invite.";
            _clicked = true;
            StateHasChanged();
            return;
        }
        
        if (_inviteData.Expired)
        {
            _errorSpan = "Invite has expired.";
            StateHasChanged();
            return;
        }
        
        // Already joined
        if (ValourClient.JoinedPlanets.Any(x => x.Id == _inviteData.PlanetId))
        {
            _alreadyJoined = true;
        }
        
        _loading = false;

        StateHasChanged();

    }

    public async Task OnClose()
    {
        await ValourClient.LoadJoinedPlanetsAsync();
        NavManager.NavigateTo("/");
    }

    private void OnClickLogin()
    {
        NavManager.NavigateTo($"/?redirect=/i/{InviteCode}", true);
    }

    private void OnClickRegister()
    {
        NavManager.NavigateTo($"/register/i/{InviteCode}", true);
    }

    private async Task OnClickJoin()
    {
        if (ValourClient.IsLoggedIn)
        {
            var response = await ValourClient.PrimaryNode.PostAsyncWithResponse<PlanetMember>($"api/planets/{_inviteData.PlanetId}/join?inviteCode={InviteCode}");

            if (!response.Success)
            {
                _errorSpan = response.Message;
            }
            else
            {
                _infoSpan = "Joined " + _inviteData.PlanetName + "!";
            }

            _clicked = true;

            StateHasChanged();
        }
        else
        {
            
        }
    }

    private void OnIconError()
    {
        _inviteData.PlanetImageUrl = "_content/Valour.Client/icon-512.png"; 
        StateHasChanged();
    }

}
