@page "/RecoverPassword/{Code}"
@using System.Net.Http.Headers

@inject HttpClient Http
@inject NavigationManager navManager
@inject ILocalStorageService storage

<body class="login-background" style="background-image: url(/media/Abstract-Background.png)">
    <div class="popup-box">
        <div class="col-md-12">
            <section>
                <h2>Change your password</h2>

                <h4>Don't forget it!</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mt-2">
                    <label>New Password</label>
                    <input type="password" class="form-control" @bind-value="@password" />
                    <span id="password-span" class="text-danger">@passwordSpan</span>
                </div>
                <div class="form-group mt-2">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" @bind-value="@passwordConf" />
                    <span id="password-conf-span" class="text-danger">@passwordConfSpan</span>
                </div>
                <span id="result-span" class="text-info">@resultSpan</span>
                <span id="error-span" class="text-danger" style="display:block">@errorSpan</span>
                <div class="form-group mt-4" style="display:inline-block">
                    <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Submit</button>
                </div>
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string Code { get; set; }

    string password;
    string passwordConf;

    string passwordSpan;
    string passwordConfSpan;

    string resultSpan;
    string errorSpan;

    protected async override Task OnInitializedAsync()
    {
      
    }

    private async Task OnClickSubmit(MouseEventArgs e)
    {
        passwordSpan = "";
        passwordConfSpan = "";

        resultSpan = "";
        errorSpan = "";

        if (string.IsNullOrWhiteSpace(password))
        {
            passwordSpan = "Please input a password.";
            return;
        }

        if (!string.Equals(password, passwordConf))
        {
            passwordConfSpan = "Passwords do not match";
            return;
        }

        var content = JsonContent.Create(
            new PasswordRecoveryRequest()
            {
                Code = Code,
                Password = password
            }
        );

        var response = await Http.PostAsync($"api/users/self/recovery", content);

        var message = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            resultSpan = message;

            password = "";
            passwordConf = "";
        }
        else{
            errorSpan = message;
        }
    }
}
