@page "/Register"

@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage

<body class="login-background">
    <div class="login-box">
        <div class="col-md-12">
            <section>
                <h2>Register for Valour</h2>

                <h4>Welcome to our app!</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mt-2">
                    <label>Username</label>
                    <input class="form-control" @bind-value="@username" />
                    <span id="username-span" class="text-danger">@usernameSpan</span>
                </div>
                <div class="form-group mt-2">
                    <label>Email</label>
                    <input class="form-control" @bind-value="@email" />
                    <span id="email-span" class="text-danger">@emailSpan</span>
                </div>
                <div class="form-group mt-2">
                    <label>Password</label>
                    <input type="password" class="form-control" @bind-value="@password" />
                    <span id="password-span" class="text-danger">@passwordSpan</span>
                </div>
                <div class="form-group mt-4" style="display:inline-block">
                    <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Submit</button>
                </div>
            </section>
        </div>
    </div>
</body>

@code {
    // Input fields
    string email;
    string password;
    string username;

    // Spans
    string emailSpan;
    string passwordSpan;
    string usernameSpan;

    private async Task OnClickSubmit(MouseEventArgs e)
    {
        emailSpan = "";
        passwordSpan = "";
        usernameSpan = "";

        if (string.IsNullOrWhiteSpace(email))
        {
            emailSpan = "Please input an email.";
            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            passwordSpan = "Please input a password.";
            return;
        }

        if (string.IsNullOrWhiteSpace(username))
        {
            usernameSpan = "Please input an username.";
            return;
        }

        string encodedUsername = System.Web.HttpUtility.UrlEncode(username);
        string encodedEmail = System.Web.HttpUtility.UrlEncode(email);
        string encodedPassword = System.Web.HttpUtility.UrlEncode(password);

        string json = await Http.GetStringAsync($"User/RegisterUser?username={encodedUsername}" +
                                                                 $"&email={encodedEmail}" +
                                                                 $"&password={encodedPassword}");

        TaskResult result = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult>(json);

        passwordSpan = result.Message;

        if (result.Success)
        {
            navManager.NavigateTo("/");
        }
    }
}
