<QueryTable
    TModel="Report"
    Columns="@_columns"
    Model="@_queryModel"
/>

@code {

    private ReportQueryModel _queryModel = new();
    
    private List<ColumnDefinition<Report>> _columns = new()
    {
        new ()
        {
            Name = "ID",
            RenderFragment = (item) => @<p>@item.Id</p>
        },
        new ()
        {
            Name = "Type",
            RenderFragment = (item) => @<p>@item.ReasonCode.ToString()</p>
        },
        new ()
        {
            Name = "Reviewed",
            RenderFragment = (item) => @<p>@(item.Reviewed ? "Yes" : "No")</p>
        },
        new ()
        {
            Name = "Message ID",
            RenderFragment = (item) => @<p>@item.MessageId</p>
        }
    };
}