@implements IDisposable
@using Valour.Api.Items.Messages

@if (embed is null)
{
	return;
}
<CascadingValue Value="@this">
	<div class="embed" style="@embed.GetStyle()">
		@if (embed.CurrentlyDisplayed != null)
		{
			@if (embed.CurrentlyDisplayed.Title is not null) {
				<div style="color:#@embed.CurrentlyDisplayed.TitleColor;font-weight:bold;font-size:16px;margin-bottom: 8px;">
					@((MarkupString)MarkdownManager.GetHtml(embed.CurrentlyDisplayed.Title))
				</div>
			}
			foreach (EmbedRow item in embed.CurrentlyDisplayed.Rows)
			{
				<EmbedRowComponent Row="@item" Message="@Message" embed="@embed"></EmbedRowComponent>
			}
			foreach (EmbedItem item in embed.CurrentlyDisplayed.Items)
			{
				<EmbedItemComponent embed="@embed" Message="@Message" item="@item"></EmbedItemComponent>
			}
			if (embed.Pages.Count > 1 && !embed.HideChangePageArrows)
			{
				if (embed.CurrentlyDisplayed.EmbedType == EmbedItemPlacementType.RowBased) 
				{
					<div style="margin-top: 8px;">
						<button @onclick="PrevPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&lt</button>
						<p style="font-size:12px;display: inline-block;">@embed.currentPage</p>
						<button @onclick="NextPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&gt</button>
					</div>
				}
				else
				{
					<div style="position: absolute;bottom: calc(1rem);left: 71px;">
						<button @onclick="PrevPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&lt</button>
						<p style="font-size:12px;display: inline-block;">@embed.currentPage</p>
						<button @onclick="NextPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&gt</button>
					</div>
				}
			}
			@if (embed.CurrentlyDisplayed.Footer is not null)
			{
				<div style="color:#@embed.CurrentlyDisplayed.FooterColor;font-size:14px;margin-top: 8px;">
					@((MarkupString)MarkdownManager.GetHtml(embed.CurrentlyDisplayed.Footer))
				</div>
			}
		}
	</div>
</CascadingValue>


@code {

	[CascadingParameter]
	public MessageHolderComponent Holder { get; set; }

	[Parameter]
	public ClientMessageWrapper Message { get; set; }

	public event Action RefreshRowComponents;
	public event Action RefreshRootItemComponents;
	public event Action RefreshFormComponents;
	public event Action RefreshItemComponents;

	private bool ProcessPageChange = false;

	private bool ProcessPageChangeForForms = false;

	public bool ProcessingEmbedUpdate = false;

	public Embed embed = null;

	public EmbedPage page { get; set; }

	public void Dispose()
	{
		ValourClient.OnPersonalEmbedUpdate -= OnPersonalEmbedUpdate;
		ValourClient.OnChannelEmbedUpdate -= OnChannelEmbedUpdate;
	}

	protected override void OnInitialized()
	{
		StateHasChanged();
		ValourClient.OnPersonalEmbedUpdate += OnPersonalEmbedUpdate;
		ValourClient.OnChannelEmbedUpdate += OnChannelEmbedUpdate;
		embed = Message.Message.Embed;
	}

	public async Task OnChannelEmbedUpdate(ChannelEmbedUpdate update)
	{
		if (update.TargetMessageId == Message.Message.Id)
		{
			int currentpage = embed.currentPage;
			Message.Message.EmbedData = update.NewEmbedContent;
			Message.Message.embedParsed = false;
			embed = Message.Message.Embed;
			if (!embed.KeepPageOnUpdate)
			{
				embed.currentPage = embed.StartPage;
			}
			else
				embed.currentPage = currentpage;
			
			if (embed.currentPage >= embed.Pages.Count) 
				embed.currentPage = embed.StartPage;
			ProcessPageChange = true;
			ProcessingEmbedUpdate = true;
			UpdateItems();
			ProcessingEmbedUpdate = false;
			await Holder.ScrollToBottom();
		}
	}

	public async Task OnPersonalEmbedUpdate(PersonalEmbedUpdate update)
	{
		if (update.TargetMessageId == Message.Message.Id)
		{
			int currentpage = embed.currentPage;
			Message.Message.EmbedData = update.NewEmbedContent;
			Message.Message.embedParsed = false;
			embed = Message.Message.Embed;
			if (!embed.KeepPageOnUpdate)
			{
				embed.currentPage = embed.StartPage;
			}
			else
				embed.currentPage = currentpage;
			
			if (embed.currentPage >= embed.Pages.Count) 
				embed.currentPage = embed.StartPage;
			ProcessPageChange = true;
			ProcessingEmbedUpdate = true;
			UpdateItems();
			ProcessingEmbedUpdate = false;
			await Holder.ScrollToBottom();
		}
	}

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (ProcessPageChange)
		{
			ProcessPageChange = false;
			UpdateItems();
		}
		else if (ProcessPageChangeForForms)
		{
			ProcessPageChangeForForms = false;
			RefreshRowComponents?.Invoke();
			RefreshRootItemComponents?.Invoke();
			RefreshItemComponents?.Invoke();
		}
		return base.OnAfterRenderAsync(firstRender);
	}

	public void UpdateItems()
	{
		StateHasChanged();
		RefreshRowComponents?.Invoke();
		RefreshRootItemComponents?.Invoke();
		RefreshFormComponents?.Invoke();
		RefreshItemComponents?.Invoke();
		ProcessPageChangeForForms = true;
	}

	public void NextPage()
	{
		embed.NextPage();
		ProcessPageChange = true;
	}

	public void PrevPage()
	{
		embed.PrevPage();
		ProcessPageChange = true;
	}
}