@using Valour.Api.Items.Messages

@if (embed is null)
{
	return;
}

<div class="embed">
	@if (embed.Currently_Displayed != null)
	{
		@if (embed.Title is not null) {
			<div style="color:#@embed.TitleColor;font-weight:bold;font-size:16px;margin-bottom: 8px;">
				@((MarkupString)MarkdownManager.GetHtml(embed.Title))
			</div>
		}
		foreach (EmbedItem item in embed.Currently_Displayed)
		{
			switch (item.Type)
			{
				case EmbedItemType.Text:
					<div style="@item.GetInlineStyle" class="embed-item">
						@if (item.Name != null)
						{
							<div style="color:#@item.TextColor;font-weight:bold;font-size:14px;">
								@((MarkupString)MarkdownManager.GetHtml(item.Name))
							</div>
						}
						<div style="color:#@item.TextColor;font-size:14px;">
							@if (item.Link != null)
							{
								<a href="@item.Link" rel="nofollow" target="_blank">@((MarkupString)MarkdownManager.GetHtml(item.Text))</a>
							}
							else
							{
								@((MarkupString)MarkdownManager.GetHtml(item.Text))
							}
						</div>
					</div>
					break;
				case EmbedItemType.Button:
					@if (item.Center)
					{
						<center>
							<EmbedButtonComponent Item="item" Message="Message" embed="embed"></EmbedButtonComponent>
						</center>
					}
					else
					{
						<EmbedButtonComponent Item="item" Message="Message" embed="embed"></EmbedButtonComponent>
					}
					break;
				case EmbedItemType.InputBox:
					<EmbedInputBoxComponent Item="item" embed="embed"></EmbedInputBoxComponent>
					break;
			}
		}
		if (embed.Pages.Length > 1)
		{
			<div style="margin-top: 8px;">
				<button @onclick="PrevPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&lt</button>
				<p style="font-size:12px;display: inline-block;">@embed.currentPage</p>
				<button @onclick="NextPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&gt</button>
			</div>
		}
		@if (embed.Footer is not null) {
			<div style="color:#@embed.FooterColor;font-size:14px;margin-top: 8px;">
				@((MarkupString)MarkdownManager.GetHtml(embed.Footer))
			</div>
		}
	}
</div>


@code {

	[Parameter]
	public Embed embed { get; set; }
	[Parameter]
	public ClientPlanetMessage Message { get; set; }

	protected override void OnInitialized()
	{
		StateHasChanged();
	}

	public void NextPage()
	{
		embed.NextPage();
		StateHasChanged();
	}

	public void PrevPage()
	{
		embed.PrevPage();
		StateHasChanged();
	}

}
