@if (embed is null)
{
	return;
}

<div class="embed" style="@embed.GetStyle()">
	@if (embed.Currently_Displayed != null)
	{
		@if (embed.Currently_Displayed.Title is not null) {
			<div style="color:#@embed.Currently_Displayed.TitleColor;font-weight:bold;font-size:16px;margin-bottom: 8px;">
				@((MarkupString)MarkdownManager.GetHtml(embed.Currently_Displayed.Title))
			</div>
		}
		foreach (EmbedRow item in embed.Currently_Displayed.Rows)
		{
			<EmbedRowComponent Row="@item" Message="@Message" embed="@embed"></EmbedRowComponent>
		}
		foreach (EmbedItem item in embed.Currently_Displayed.Items)
		{
			<EmbedItemComponent embed="@embed" Message="@Message" item="@item"></EmbedItemComponent>
		}
		if (embed.Pages.Count > 1)
		{
			<div style="margin-top: 8px;">
				<button @onclick="PrevPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&lt</button>
				<p style="font-size:12px;display: inline-block;">@embed.currentPage</p>
				<button @onclick="NextPage" class="btn btn-primary btn-sm" style="display: inline-block;box-shadow: none;">&gt</button>
			</div>
		}
		@if (embed.Currently_Displayed.Footer is not null)
		{
			<div style="color:#@embed.Currently_Displayed.FooterColor;font-size:14px;margin-top: 8px;">
				@((MarkupString)MarkdownManager.GetHtml(embed.Currently_Displayed.Footer))
			</div>
		}
	}
</div>


@code {

	[Parameter]
	public Embed embed { get; set; }
	[Parameter]
	public ClientPlanetMessage Message { get; set; }

	protected override void OnInitialized()
	{
		StateHasChanged();
	}

	public void NextPage()
	{
		embed.NextPage();
		StateHasChanged();
	}

	public void PrevPage()
	{
		embed.PrevPage();
		StateHasChanged();
	}

}
