@using global::Markdig.Blazor
@inject ValourClient Client
@inject ContextMenuService ContextMenuService
@implements IDisposable

@if (Message == null || Message.IsEmpty() || !_isBuilt)
{
    return;
}

<div id="@Id"
     class="@_class"
     tabindex="0"
     @oncontextpress="@OnContextMenu"
     @oncontextpress:stopPropagation="true"
     @onpointerdown="@OnPointerDown">
    
    <div class="left-info">
        @if (!Minimal)
        {
            @if (_user.HasAnimatedAvatar)
            {
                <style>
                    .message:hover .author-avatar-@_user.Id {
                        background-image: url(@_animatedAvatarUrl), url(@_avatarUrl), url(@_fallbackAvatarUrl) !important;
                    }
                </style>
            }
            <div style="background-image: url(@_avatarUrl), url(@_fallbackAvatarUrl)" alt="@_name's profile picture" loading="lazy" class="author-avatar author-avatar-@_user.Id" @onerror="OnAvatarError"></div>
        }
        <div class="time-container">
            <p class="time" title="@_timeTitle">
                @_timeText
            </p>
        </div>
    </div>
    <div class="content-holder">

        @if (!Minimal)
        {
            <div class="name-role-holder">
                
                <p @onclick="OnClickName" 
                   @oncontextpress:stopPropagation="true"
                   @oncontextpress="@OnNameContextMenu"
                   class="author-name" 
                   style="color: @_nameColor;">
                    @_name
                </p>

                <div class="dot-badge-holder">
                    @if (_user.SubscriptionType == UserSubscriptionTypes.Stargazer.Name)
                    {
                        <BasicTooltipComponent Title="Stargazer" Placement="top">
                            <img title="Stargazer" alt="Stargazer badge" class="dot-badge" src="_content/Valour.Client/media/stargazer-badge.svg"/>
                        </BasicTooltipComponent>
                    }
                    @if (_user.Id <= 22113735421460480)
                    {
                        <span class="badge-1k">1k</span>
                    }
                </div>

                <p class="role-name">
                    &nbsp;- @_nameTag
                </p>
            </div>
        }

        @if (Message.ReplyTo is not null && !IsInnerReply)
        {
            @RenderReply
        }

        <div class="content">

            @if (Message.Attachments != null)
            {
                @for (var i = 0; i < Message.Attachments.Count; i++)
                {
                    var id = i;
                    var attachment = Message.Attachments[id];
                    var par = new Dictionary<string, object>()
                    {
                        {"Attachment", attachment},
                        {"MessageComponent", this}
                    };

                    <div class="attachment-wrapper" @onclick="() => OnClickAttachment(id)">
                        @if (Ghost)
                        {
                            <div class="attachment-x">x</div>
                        }
                        <DynamicComponent Type="attachment.GetComponentType()" Parameters="par"></DynamicComponent>
                    </div>
                }
            }

            @if (Message.Embed != null && Message.Embed.Pages.Count > 0)
            {
                <EmbedComponent Message="@Message" MessageComponent="@this"></EmbedComponent>
                @if (Message.EditedTime != null)
                {
                    <p class="edited-flag"> (Edited)</p>
                }
            }
            else
            {
                @RenderContent

                @if (Edit)
                {
                    <p class="edit-flag">(Editing)</p>
                }

                @if (Message.EditedTime != null)
                {
                    <p class="edited-flag"> (Edited)</p>
                }
            }
        </div>
    </div>

    @if (IsInnerReply)
    {
        <div class="reply-x">x</div>
    }
</div>

@code {

    private RenderFragment RenderContent => builder =>
    {
        if (string.IsNullOrWhiteSpace(Message.Content))
            return;
        
        builder.OpenElement(0, "div");
        builder.AddAttribute(1, "class", "fragments");
        Markdown.RenderToFragment(
            Message.Content, 
            builder, 
            MarkdownManager.Pipeline, 
            MarkdownManager.Renderer);
        builder.CloseElement();
    };
    
    private RenderFragment RenderReply => builder =>
    {
        var messageParams = new MessageHolderComponent.MessageComponentParams()
        {
            Message = Message.ReplyTo,
            LastMessage = null,
            Ghost = Ghost,
            IsInnerReply = true
        };

        builder.OpenComponent<MessageComponent>(0);
        builder.AddAttribute(0, "ParamData", messageParams);
        builder.SetKey($"r-{Message.Id}-{Message.ReplyTo.Id}");
        builder.CloseComponent();
    };

    [CascadingParameter]
    public MessageHolderComponent Holder { get; set; }

    [CascadingParameter]
    public WindowTab Window { get; set; }
    
    [CascadingParameter]
    public ChatChannelWindowComponent ChatComponent { get; set; }

    /* Set Params */
    [Parameter]
    public MessageHolderComponent.MessageComponentParams ParamData { get; set; }

    public Message Message { get; set; }
    public Message LastMessage { get; set; }
    public bool Ghost { get; set; }
    public bool IsInnerReply { get; set; }
    /* End Set Params */

    private IMessageAuthor _author;

    /* Planet Message Only */
    private PlanetMember _member;
    
    /* End Planet Message Only */
    private User _user { get; set; }

    public MessageComponent ReplyComponent;

    public bool ShouldRenderValue = false;

    public bool Minimal = false;

    public string Id = "";

    private string _nameColor = "#ffffff";
    private string _nameTag = "Default";
    private string _avatarUrl = "";
    private string _animatedAvatarUrl = "";
    private string _fallbackAvatarUrl = "";
    private string _name = "User not Found";

    private string _timeTitle = "";
    private string _timeText = "";

    public bool Edit = false;
    private bool _mentioned = false;
    private bool _isBuilt = false;

    private string _class = "message";
    

    private void CalculateClass()
    {
        var newClass = "message";

        if (Minimal)
            newClass += " minimal";

        if (_mentioned)
            newClass += " mentioned";

        if (Edit)
            newClass += " edit";

        if (IsInnerReply)
            newClass += " reply";

        if (Ghost)
            newClass += " ghost";

        if (Message.ReplyTo is not null)
            newClass += " hasreply";

        _class = newClass;
    }

    private void CalculateTime()
    {
        var hoursAgo = (DateTime.UtcNow - Message.TimeSent).TotalHours;
        var localTime = Message.TimeSent.ToLocalTime();

        if (hoursAgo >= 24)
        {
            if (hoursAgo <= 48)
            {
                _timeTitle = $"Yesterday at {localTime.ToShortTimeString()}";
                _timeText = "Yesterday";
            }
            else
            {
                _timeTitle = localTime.ToShortDateString().Replace("00", "") + " " + localTime.ToShortTimeString();
                _timeText = $"{localTime.ToShortDateString().Replace("00", "")}";
            }
        }
        else
        {
            _timeTitle = localTime.ToShortDateString().Replace("00", "") + " " + localTime.ToShortTimeString();
            _timeText = localTime.ToShortTimeString().Replace(' ', '\0');
        }
    }

    private Task OnClickName(MouseEventArgs e)
    {
        if (_member is not null)
        {
            return ProfilePopup.Instance.OpenAsync(_member, (int)e.ClientX, (int)e.ClientY, "bottomLeft");
        }
        else
        {
            return ProfilePopup.Instance.OpenAsync(_user, (int)e.ClientX, (int)e.ClientY, "bottomLeft");
        }
    }


    private async Task OnEditReceived(ModelUpdateEvent<Message> eventData)
    {
        BuildMessage();
        await CloseEditMode();
    }

    private void OnContextMenu(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<MessageContextMenu>(e,
            new MessageContextMenu.MessageContextParams()
            {
                Message = Message,
                MessageComponent = this,
                WindowComponent = ChatComponent
            }
        );
    }
    
    private void OnNameContextMenu(ContextPressEventArgs e)
    {
        if (_member is not null)
        {
            ContextMenuService.Root.OpenMenu<MemberContextMenu>(e,
                new MemberContextMenu.MemberContextParams()
                {
                    Member = _member,
                }
            );
        }
        else
        {
            ContextMenuService.Root.OpenMenu<UserContextMenu>(e, new UserContextMenu.UserContextParams()
            {
                User = _user
            });
        }
    }

    public async Task OnPointerDown()
    {
        if (Ghost)
        {
            if (IsInnerReply)
            {
                Console.WriteLine("Removing replyto");
                var input = ChatComponent.MessageHolder.InputComponent;
                await input.RemoveReply();
            }
        }
        else
        {
            await Window.NotifyFocused();
        }
    }

    public void OnClickAttachment(int id)
    {
        if (Ghost)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            input.RemoveAttachment(id);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Clear notification if one exists for this message
            var found = Client.NotificationService.UnreadNotificationsLookupBySource.TryGetValue(Message.Id, out var notification);
            if (found && notification.TimeRead is null)
            {
                await Client.NotificationService.MarkNotificationRead(notification, true);
            }
        }
    }

    public async Task OpenEditMode()
    {
        Edit = true;

        CalculateClass();

        ReRender();

        await ChatComponent.OpenEditMode(this);
    }

    public async Task CloseEditMode(bool cancel = false)
    {
        if (!Edit)
            return;

        Edit = false;

        CalculateClass();

        await ChatComponent.CloseEditMode(cancel);

        ReRender();
    }

    public void SetMessage(Message message)
    {
        Message = message;
        BuildMessage();

        ReRender();
    }

    public void RefreshMessage()
    {
        BuildMessage();
        StateHasChanged();
    }

    public void SetLast(Message msg)
    {
        LastMessage = msg;
    }

    public void BuildMessage(bool render = true)
    {
        if (Message == null)
            return;

        // Check if we are a minimal message
        CheckMinimal();

        if (!IsInnerReply)
            _mentioned = Message.CheckIfMentioned();

        CalculateClass();
        CalculateTime();

        if (Minimal)
        {
            _isBuilt = true;

            if (render)
                ReRender();

            return;
        }

        _name = GetAuthorName();
        _nameColor = GetAuthorColor();
        _nameTag = GetAuthorRoleTag();
        _avatarUrl = GetAuthorAvatar();
        _animatedAvatarUrl = GetAuthorAvatarAnimated();
        _fallbackAvatarUrl = GetAuthorAvatarUrlFallback();

        _isBuilt = true;

        if (render)
            ReRender();
    }

    protected override async Task OnInitializedAsync()
    {
        Message = ParamData.Message;
        LastMessage = ParamData.LastMessage;
        Ghost = ParamData.Ghost;
        IsInnerReply = ParamData.IsInnerReply;
        KeyboardListener.OnKeyDown += OnKeyDown;
        
        if (Message is null)
        {
            Client.Logger.Log("Message", "MessageData is null", "red");
            return;
        }
        
        // This prevents client sync issues from breaking the message
        Message.SetClient(Client);
        
        await base.OnInitializedAsync();

        Id = $"m-{Message.ChannelId}-{Message.Id}";

        _user = await Message.FetchAuthorUserAsync();

        if (_user != null)
            _user.Updated += OnUserUpdated;
        
        if (!IsInnerReply && !Ghost)
        {
            Holder.AddRenderedMessage(this);
        }

        // Planet message logic
        if (Message.PlanetId is not null)
        {
            
            _member = await Message.FetchAuthorMemberAsync();
            
            // Hook events
            if (_member is not null) // There is a chance they were deleted
            {
                _member.Roles.Changed += UpdateForRoleChange;
                _member.Updated += OnMemberUpdated;
            }
        }

        _author = _member is not null ? _member : _user;
        
        BuildMessage(false);
    }
    
    /// <summary>
    /// Returns the name that should be displayed for the author of this message
    /// </summary>
    private string GetAuthorName()
    {
        return _member is not null ? _member.Name : 
            (_user?.Name ?? "User not found");
    }
    
    private string GetAuthorRoleTag()
    {
        // Bot always shows Bot
        if (_user.Bot)
            return "Bot";
        
        // If there's a member, we use the member's planet role
        if (_member is not null) 
            return _member.PrimaryRole.Name ?? "Unknown Role";

        if (_user is null) 
            return string.Empty;
        
        // Otherwise, we use their relationship with the user
        if (_user.Id == Client.Me.Id)
            return "You";

        return Client.FriendService.FriendLookup.ContainsKey(_user.Id) ? "Friend" : "User";
    }
    
    private string GetAuthorColor()
    {
        return _member is not null ? _member.PrimaryRole.Color : 
            (Client.FriendService.FriendLookup.ContainsKey(_user.Id) ? "#9ffff1" : "#fff");
    }
    
    public string GetAuthorAvatar() =>
        _author.GetAvatar(AvatarFormat.Webp128);
    
    public string GetAuthorAvatarAnimated()
    {   
        // TODO: Tweak when member avatars are implemented
        if (!_user.HasAnimatedAvatar)
            return null;

        return _author.GetAvatar(AvatarFormat.WebpAnimated128);
    }
    
    public string GetAuthorAvatarUrlFallback() =>
        _author.GetFailedAvatar();

    private async Task OnKeyDown(KeyboardListener.KeyboardEvent e)
    {
        if (e.Key != "Escape") return;
        if (Edit) 
        {
            await CloseEditMode(true);
        }
 
        if (IsInnerReply)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            await input.RemoveReply(); 
        }
        
        if (Ghost)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            input.RemoveAttachment(-1);
        }
    }

    public void OnUserUpdated(ModelUpdateEvent<User> eventData)
    {
        bool render = false;

        if (eventData.PropsChanged.Contains(nameof(_user.Name)))
        {
            render = true;
            _name = GetAuthorName();
        }

        if (eventData.PropsChanged.Contains(nameof(_user.HasCustomAvatar)))
        {
            render = true;
            _avatarUrl = GetAuthorAvatar();

            if (_user.HasAnimatedAvatar)
            {
                _animatedAvatarUrl = GetAuthorAvatarAnimated();
            }
        }

        if (render)
        {
            ReRender();
        }
    }

    private void OnMemberUpdated(ModelUpdateEvent<PlanetMember> eventData)
    {
        var render = false;
        
        if (eventData.PropsChanged.Contains(nameof(_member.Nickname)))
        {
            render = true;
            _name = GetAuthorName();
        }

        if (eventData.PropsChanged.Contains(nameof(_member.MemberAvatar)))
        {
            render = true;
            _avatarUrl = GetAuthorAvatar();
            
            if (_user.HasAnimatedAvatar)
            {
                _animatedAvatarUrl = GetAuthorAvatarAnimated();
            }
        }

        if (render)
        {
            ReRender();
        }
    }
    
    // Update for any role changes
    private void UpdateForRoleChange(ModelListChangeEvent<PlanetRole> change)
    {
        // Cosmetic changes
        _nameTag = _member.PrimaryRole.Name;
        _nameColor = _member.PrimaryRole.Color;
        
        ReRender();
    }

    public void CheckMinimal()
    {
        if (LastMessage != null && Message != null)
        {
            if (Message.ReplyTo is not null)
            {
                Minimal = false;
                return;
            }
            if (LastMessage.AuthorUserId == Message.AuthorUserId)
            {
                Minimal = true;
                return;
            }
        }

        Minimal = false;
    }

    public void ReRender()
    {
        if (Ghost && IsInnerReply) return;

        ShouldRenderValue = true;
        
        StateHasChanged();

        ShouldRenderValue = false;
    }

    void IDisposable.Dispose()
    {
        if (Holder != null)
        {
            Holder.RemoveRenderedMessage(this);
        }
        
        if (_member is not null)
        {
            _member.Updated -= OnMemberUpdated;
            _member.Roles.Changed -= UpdateForRoleChange;
        }
    }

    // Always allow a re-render when the pfp fails to load
    private bool _avatarErrorRender = false;
    
    private void OnAvatarError()
    {
        _avatarUrl = _author.GetFailedAvatar();
        _avatarErrorRender = true;
        ReRender();
    }

    /// <summary>
    /// This prevents the message from re-rendering. This should be expanded to support message edits in the future.
    /// </summary>
    protected override bool ShouldRender()
    {
        if (_avatarErrorRender)
        {
            _avatarErrorRender = false;
            return true;
        }

        if (Ghost && IsInnerReply) return false;

        return ShouldRenderValue;
    }

}