@using global::Markdig.Blazor
@inject IJSRuntime JsRuntime
@inject ContextMenuService ContextMenuService
@implements IDisposable

@if (Message == null || Message.IsEmpty() || !_isBuilt)
{
    return;
}

<div id="@Id"
     class="@_class"
     tabindex="0"
     @oncontextpress="@OnContextMenu"
     @oncontextpress:stopPropagation="true"
     @onpointerdown="@OnPointerDown">
    
    <div class="left-info">
        @if (!Minimal)
        {
            @if (User.HasAnimatedAvatar)
            {
                <style>
                    .message:hover .author-pfp-@User.Id {
                        background-image: url(@_animatedAvatarUrl), url(@_avatarUrl), url(@_fallbackAvatarUrl) !important;
                    }
                </style>
            }
            <div style="background-image: url(@_avatarUrl), url(@_fallbackAvatarUrl)" alt="@_name's profile picture" loading="lazy" class="author-pfp author-pfp-@User.Id" @onerror="OnPfpError"></div>
        }
        <div class="time-container">
            <p class="time" title="@_timeTitle">
                @_timeText
            </p>
        </div>
    </div>
    <div class="content-holder">

        @if (!Minimal)
        {
            <div class="name-role-holder">
                
                <p @onclick="OnClickName" 
                   @oncontextpress:stopPropagation="true"
                   @oncontextpress="@OnNameContextMenu"
                   class="author-name" 
                   style="color: @_nameColor;">
                    @_name
                </p>

                <div class="dot-badge-holder">
                    @if (User.SubscriptionType == UserSubscriptionTypes.Stargazer.Name)
                    {
                        <BasicTooltipComponent Title="Stargazer" Placement="top">
                            <img title="Stargazer" alt="Stargazer badge" class="dot-badge" src="_content/Valour.Client/media/stargazer-badge.svg"/>
                        </BasicTooltipComponent>
                    }
                    @if (User.Id <= 22113735421460480)
                    {
                        <span style="font-weight: bold; font-size: 8px; margin-left: 2px; color: var(--v-purple)">1k</span>
                    }
                </div>

                <p class="role-name">
                    &nbsp;- @_nameTag
                </p>
            </div>
        }

        @if (Message.ReplyTo is not null && !IsInnerReply)
        {
            @RenderReply
        }

        <div class="content">

            @if (Message.Attachments != null)
            {
                @for (var i = 0; i < Message.Attachments.Count; i++)
                {
                    var id = i;
                    var attachment = Message.Attachments[id];
                    var par = new Dictionary<string, object>()
                    {
                        {"Attachment", attachment},
                        {"MessageComponent", this}
                    };

                    <div class="attachment-wrapper" @onclick="async () => await OnClickAttachment(id)">
                        @if (Ghost)
                        {
                            <div class="attachment-x">x</div>
                        }
                        <DynamicComponent Type="attachment.GetComponentType()" Parameters="par"></DynamicComponent>
                    </div>
                }
            }

            @if (Message.Embed != null && Message.Embed.Pages.Count > 0)
            {
                <EmbedComponent Message="@Message" MessageComponent="@this"></EmbedComponent>
                @if (Message.EditedTime != null)
                {
                    <p class="edited-flag"> (Edited)</p>
                }
            }
            else
            {
                @RenderContent

                @if (Edit)
                {
                    <p class="edit-flag">(Editing)</p>
                }

                @if (Message.EditedTime != null)
                {
                    <p class="edited-flag"> (Edited)</p>
                }
            }
        </div>
    </div>

    @if (IsInnerReply)
    {
        <div class="reply-x">x</div>
    }
</div>

@code {

    private RenderFragment RenderContent => builder =>
    {
        if (string.IsNullOrWhiteSpace(Message.Content))
            return;
        
        builder.OpenElement(0, "div");
        builder.AddAttribute(1, "class", "fragments");
        Markdown.RenderToFragment(
            Message.Content, 
            builder, 
            MarkdownManager.Pipeline, 
            MarkdownManager.Renderer);
        builder.CloseElement();
    };
    
    private RenderFragment RenderReply => builder =>
    {
        var messageParams = new MessageHolderComponent.MessageComponentParams()
        {
            Message = Message.ReplyTo,
            LastMessage = null,
            Ghost = Ghost,
            IsInnerReply = true
        };

        builder.OpenComponent<MessageComponent>(0);
        builder.AddAttribute(0, "ParamData", messageParams);
        builder.SetKey($"r-{Message.Id}-{Message.ReplyTo.Id}");
        builder.CloseComponent();
    };

    [CascadingParameter]
    public MessageHolderComponent Holder { get; set; }

    [CascadingParameter]
    public WindowTab Window { get; set; }
    
    [CascadingParameter]
    public ChatChannelWindowComponent ChatComponent { get; set; }

    /* Set Params */
    [Parameter]
    public MessageHolderComponent.MessageComponentParams ParamData { get; set; }

    public Message Message { get; set; }
    public Message LastMessage { get; set; }
    public bool Ghost { get; set; }
    public bool IsInnerReply { get; set; }
    /* End Set Params */

    /* Planet Message Only */
    private PlanetMember _member;
    
    /* End Planet Message Only */

    public User User { get; set; }

    public MessageComponent ReplyComponent;

    public bool ShouldRenderValue = false;

    public bool Minimal = false;

    public string Id = "";

    private string _nameColor = "#ffffff";
    private string _nameTag = "Default";
    private string _avatarUrl = "";
    private string _animatedAvatarUrl = "";
    private string _fallbackAvatarUrl = "";
    private string _name = "User not Found";

    private string _timeTitle = "";
    private string _timeText = "";

    public bool Edit = false;
    private bool _mentioned = false;
    private bool _isBuilt = false;

    private string _class = "message";
    

    private void CalculateClass()
    {
        var newClass = "message";

        if (Minimal)
            newClass += " minimal";

        if (_mentioned)
            newClass += " mentioned";

        if (Edit)
            newClass += " edit";

        if (IsInnerReply)
            newClass += " reply";

        if (Ghost)
            newClass += " ghost";

        if (Message.ReplyTo is not null)
            newClass += " hasreply";

        _class = newClass;
    }

    private void CalculateTime()
    {
        var hoursAgo = (DateTime.UtcNow - Message.TimeSent).TotalHours;
        var localTime = Message.TimeSent.ToLocalTime();

        if (hoursAgo >= 24)
        {
            if (hoursAgo <= 48)
            {
                _timeTitle = $"Yesterday at {localTime.ToShortTimeString()}";
                _timeText = "Yesterday";
            }
            else
            {
                _timeTitle = localTime.ToShortDateString().Replace("00", "") + " " + localTime.ToShortTimeString();
                _timeText = $"{localTime.ToShortDateString().Replace("00", "")}";
            }
        }
        else
        {
            _timeTitle = localTime.ToShortDateString().Replace("00", "") + " " + localTime.ToShortTimeString();
            _timeText = localTime.ToShortTimeString().Replace(' ', '\0');
        }
    }

    private Task OnClickName(MouseEventArgs e)
    {
        if (_member is not null)
        {
            return ProfilePopup.Instance.OpenAsync(_member, (int)e.ClientX, (int)e.ClientY, "bottomLeft");
        }
        else
        {
            return ProfilePopup.Instance.OpenAsync(User, (int)e.ClientX, (int)e.ClientY, "bottomLeft");
        }
    }


    private async Task OnEditReceived(ModelUpdateEvent eventData)
    {
        // Console.WriteLine("EDIT RECEIVED");
        // Console.WriteLine(JsonSerializer.Serialize(eventData));
        await BuildMessage();
        await CloseEditMode();
    }

    private void OnContextMenu(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<MessageContextMenu>(e,
            new MessageContextMenu.MessageContextParams()
            {
                Message = Message,
                MessageComponent = this,
                WindowComponent = ChatComponent
            }
        );
    }
    
    private void OnNameContextMenu(ContextPressEventArgs e)
    {
        if (_member is not null)
        {
            ContextMenuService.Root.OpenMenu<MemberContextMenu>(e,
                new MemberContextMenu.MemberContextParams()
                {
                    Member = _member,
                }
            );
        }
        else
        {
            ContextMenuService.Root.OpenMenu<UserContextMenu>(e, new UserContextMenu.UserContextParams()
            {
                User = User
            });
        }
    }

    public async Task OnPointerDown()
    {
        if (Ghost)
        {
            if (IsInnerReply)
            {
                Console.WriteLine("Removing replyto");
                var input = ChatComponent.MessageHolder.InputComponent;
                await input.RemoveReply();
            }
        }
        else
        {
            await Window.NotifyFocused();
        }
    }

    public async Task OnClickAttachment(int id)
    {
        if (Ghost)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            await input.RemoveAttachment(id);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Clear notification if one exists for this message
            var found = ValourClient.UnreadNotificationsLookup.TryGetValue(Message.Id, out var notification);
            if (found && notification.TimeRead is null)
            {
                await ValourClient.MarkNotificationRead(notification, true);
            }
        }
        
        // #if DEBUG
        // Console.WriteLine("Rendered message " + MessageData.Message.Id);
        // #endif
    }

    public async Task OpenEditMode()
    {
        Edit = true;

        CalculateClass();

        ReRender();

        await ChatComponent.OpenEditMode(this);
    }

    public async Task CloseEditMode(bool cancel = false)
    {
        if (!Edit)
            return;

        Edit = false;

        CalculateClass();

        await ChatComponent.CloseEditMode(cancel);

        ReRender();
    }

    public async Task SetMessage(Message message)
    {
        Message = message;
        await BuildMessage();

        ReRender();
    }

    public async Task RefreshMessage()
    {
        await BuildMessage();
        StateHasChanged();
    }

    public void SetLast(Message msg)
    {
        LastMessage = msg;
    }

    public async Task BuildMessage(bool render = true)
    {
        if (Message == null)
            return;

        // Check if we are a minimal message
        CheckMinimal();

        if (!IsInnerReply)
            _mentioned = await Message.CheckIfMentioned();

        CalculateClass();
        CalculateTime();

        if (Minimal)
        {
            _isBuilt = true;

            if (render)
                ReRender();

            return;
        }

        _name = await Message.GetAuthorNameAsync();
        _nameColor = await Message.GetAuthorColorAsync();
        _nameTag = await Message.GetAuthorRoleTagAsync();
        _avatarUrl = await Message.GetAuthorImageUrlAsync();
        _animatedAvatarUrl = await Message.GetAuthorImageUrlAnimatedAsync();
        _fallbackAvatarUrl = await Message.GetAuthorImageUrlFallbackAsync();

        _isBuilt = true;

        if (render)
            ReRender();
    }

    protected override async Task OnInitializedAsync()
    {
        this.Message = ParamData.Message;
        this.LastMessage = ParamData.LastMessage;
        this.Ghost = ParamData.Ghost;
        this.IsInnerReply = ParamData.IsInnerReply;
        KeyboardListener.OnKeyDown += OnKeyDown;
        
        if (Message is null)
        {
            await Logger.Log("[!!!] MessageData is null", "red");
            return;
        }
        
        await base.OnInitializedAsync();

        Id = $"m-{Message.ChannelId}-{Message.Id}";

        User = await Message.GetAuthorUserAsync();

        await BuildMessage(false);

        if (User != null)
            User.Updated += OnUserUpdated;
        
        if (!IsInnerReply && !Ghost)
        {
            Holder.AddRenderedMessage(this);
        }

        // Planet message logic
        if (Message.PlanetId is not null)
        {
            
            _member = await Message.GetAuthorMemberAsync();
            
            // Hook events
            if (_member is not null) // There is a chance they were deleted
            {
                _member.OnRoleModified += OnMemberRoleChange;
                _member.Updated += OnMemberUpdated;
            }
        }
    }

    private async Task<Task> OnKeyDown(KeyboardListener.KeyboardEvent e)
    {
        if (e.Key != "Escape") return Task.CompletedTask;
        if (Edit) 
        {
            await CloseEditMode(true);
        }
 
        if (IsInnerReply)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            await input.RemoveReply(); 
        }
        
        if (Ghost)
        {
            var input = ChatComponent.MessageHolder.InputComponent;
            await input.RemoveAttachment(-1);
        }

        return Task.CompletedTask;
    }

    public async Task OnUserUpdated(ModelUpdateEvent eventData)
    {
        bool render = false;

        if (eventData.PropsChanged.Contains(nameof(User.Name)))
        {
            render = true;
            _name = await Message.GetAuthorNameAsync();
        }

        if (eventData.PropsChanged.Contains(nameof(User.HasCustomAvatar)))
        {
            render = true;
            _avatarUrl = await Message.GetAuthorImageUrlAsync();
        }

        if (render)
        {
            ReRender();
        }
    }
    
    /* Planet Member Only */
    private async Task OnMemberRoleChange(MemberRoleEvent roleEvent)
    {
        await UpdateForRoleChange();
    }

    private async Task OnMemberUpdated(ModelUpdateEvent eventData)
    {
        var render = false;
        
        if (eventData.PropsChanged.Contains(nameof(_member.Nickname)))
        {
            render = true;
            _name = await Message.GetAuthorNameAsync();
        }

        if (eventData.PropsChanged.Contains(nameof(_member.MemberAvatar)))
        {
            render = true;
            _avatarUrl = await Message.GetAuthorImageUrlAsync();
        }

        if (render)
        {
            ReRender();
        }
    }
    
    // Update for any role changes
    private async Task UpdateForRoleChange()
    {
        var newPrimaryRole = await _member.GetPrimaryRoleAsync();

    // Cosmetic changes
        _nameTag = newPrimaryRole.Name;
        _nameColor = newPrimaryRole.Color;
        
        ReRender();
    }

    public void CheckMinimal()
    {
        if (LastMessage != null && Message != null)
        {
            if (Message.ReplyTo is not null)
            {
                Minimal = false;
                return;
            }
            if (LastMessage.AuthorUserId == Message.AuthorUserId)
            {
                Minimal = true;
                return;
            }
        }

        Minimal = false;
    }

    public void ReRender()
    {
        if (Ghost && IsInnerReply) return;

        ShouldRenderValue = true;
        
        StateHasChanged();

        ShouldRenderValue = false;
    }

    void IDisposable.Dispose()
    {
        if (Holder != null)
        {
            Holder.RemoveRenderedMessage(this);
        }
        
        if (_member is not null)
        {
            _member.Updated -= OnMemberUpdated;
            _member.OnRoleModified -= OnMemberRoleChange;
        }
    }

    // Always allow a re-render when the pfp fails to load
    private bool _pfpErrorRender = false;
    
    private void OnPfpError()
    {
        _avatarUrl = AvatarUtility.GetFailedPfpUrl(User);
        _pfpErrorRender = true;
        ReRender();
    }

    /// <summary>
    /// This prevents the message from re-rendering. This should be expanded to support message edits in the future.
    /// </summary>
    protected override bool ShouldRender()
    {
        if (_pfpErrorRender)
        {
            _pfpErrorRender = false;
            return true;
        }

        if (Ghost && IsInnerReply) return false;

        return ShouldRenderValue;
    }

}