@inherits Modal<EcoPayModal.ModalParams>

<div class="eco-pay-container glassy-modal">
    @if (Data.Input.ChatComponent.Channel.PlanetId is not null)
    {
        <TabContainerComponent Titles="@TabTitles" ContentStyle="overflow: visible;">
            <TabOne>
                <div class="tab-contents">
                    <PlanetPayComponent Input="@Data.Input" Modal="@this" />
                </div>
            </TabOne>
            <TabTwo>
                <div class="tab-contents">
                    <GlobalPayComponent Input="@Data.Input" Modal="@this" />
                </div>
            </TabTwo>
        </TabContainerComponent>
    }
    else
    {
        <TabContainerComponent Titles="@TabTitles" ContentStyle="overflow: visible;">
            <TabOne>
                <div class="tab-contents">
                    <GlobalPayComponent Input="@Data.Input" Modal="@this" />
                </div>
            </TabOne>
        </TabContainerComponent>
    }
</div>


@code {

    public class ModalParams
    {
        public InputComponent Input;
    }
    
    private static readonly string[] TabTitles = new [] { "Planet Pay", "Global Pay" };
}