@inherits Modal<EcoPayModal.ModalParams>

<div class="eco-pay-container">
    @if (Data.Input?.ChatComponent.Channel.PlanetId is not null)
    {
        <TabContainerComponent Titles="@TabTitles" MaxHeight="auto" ContentStyle="overflow: visible;">
            <TabOne>
                <div class="tab-contents">
                    <PlanetPayComponent Input="@Data.Input" Modal="@this" />
                </div>
            </TabOne>
            <TabTwo>
                <div class="tab-contents">
                    <GlobalPayComponent Input="@Data.Input" Modal="@this" />
                </div>
            </TabTwo>
        </TabContainerComponent>
    }
    else
    {
        <TabContainerComponent Titles="@TabTitlesTwo" MaxHeight="auto" ContentStyle="overflow: visible;">
            <TabOne>
                <div class="tab-contents">
                    <GlobalPayComponent Input="@Data.Input" Modal="@this" StartValue="@Data.TargetUserNameAndTag" />
                </div>
            </TabOne>
        </TabContainerComponent>
    }
</div>


@code {

    public class ModalParams
    {
        public InputComponent Input;
        public string TargetUserNameAndTag;
    }
    
    private static readonly string[] TabTitles = new [] { "Planet Pay", "Global Pay" };
    private static readonly string[] TabTitlesTwo = new [] { "Global Pay" };
}