@inherits ContextMenu<ChannelContextMenu.ChannelContextParams>
@inject IJSRuntime JsRuntime
@inject ValourClient Client

@if (_canModify)
{
    // Only allow adding channels to categories
    if (Data.Channel.ChannelType == ChannelTypeEnum.PlanetCategory){
        <ContextMenuItem OnClick="@OpenCreateChannel">
            <Label>Add Channel</Label>
            <Icon><i class="bi bi-chat-left"></i></Icon>
        </ContextMenuItem>
        <ContextMenuItem OnClick="@OpenCreateVoiceChannel">
            <Label>Add Voice Channel</Label>
            <Icon><i class="bi bi-music-note-beamed"></i></Icon>
        </ContextMenuItem>
        <ContextMenuItem OnClick="@OpenCreateVideoChannel">
            <Label>Add Video Channel</Label>
            <Icon><i class="bi bi-camera-video"></i></Icon>
        </ContextMenuItem>
        <ContextMenuItem OnClick="@OpenCreateCategory">
            <Label>Add Category</Label>
            <Icon><i class="bi bi-folder"></i></Icon>
        </ContextMenuItem>
    }

    // All channels have these options
    <ContextMenuItem OnClickAsync="@EditChannelListItem">
        <Label>Edit</Label>
        <Icon><i class="bi bi-pen-fill"></i></Icon>
    </ContextMenuItem>
    <ContextMenuItem OnClickAsync="@DeleteChannelListItem" Color="red">
        <Label>Delete</Label>
        <Icon><i class="bi bi-trash-fill"></i></Icon>
    </ContextMenuItem>
}
<ContextMenuItem OnClickAsync="@OnClickCopyId">
    <Label>Copy ID</Label>
    <Icon><i class="bi bi-database-fill"></i></Icon>
</ContextMenuItem>

@code {

    public class ChannelContextParams
    {
        public Channel Channel;
    }
    
    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }

    private bool _canModify;
    
    protected override async Task OnInitializedAsync(){
        if (Data.Channel.Planet.OwnerId == Client.Me.Id)
        {
            _canModify = true;
        }
        else {
            var managePerm = Data.Channel.ChannelType switch
            {
                ChannelTypeEnum.PlanetChat => ChatChannelPermissions.ManageChannel,
                ChannelTypeEnum.PlanetCategory => CategoryPermissions.ManageCategory,
                ChannelTypeEnum.PlanetVoice or ChannelTypeEnum.PlanetVideo => VoiceChannelPermissions.ManageChannel,
                _ => ChannelPermissions.Manage
            };

            _canModify = await Data.Channel.HasPermissionAsync(Data.Channel.Planet.MyMember, managePerm);
        }
        
        StateHasChanged();
    }
    
    private async Task OnClickCopyId(){
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", Data.Channel.Id);
        ToastContainer.Instance.AddToast(new ToastData("Copied!", "Channel ID copied to clipboard", ToastProgressState.Success));
    }

    private void OpenCreateChannel(){
        OpenCreate(ChannelTypeEnum.PlanetChat);
    }

    private void OpenCreateVoiceChannel()
    {
        OpenCreate(ChannelTypeEnum.PlanetVoice);
    }

    private void OpenCreateVideoChannel()
    {
        OpenCreate(ChannelTypeEnum.PlanetVideo);
    }
    
    private void OpenCreateCategory()
    {
        OpenCreate(ChannelTypeEnum.PlanetCategory);
    }

    private void OpenCreate(ChannelTypeEnum type)
    {
        var data = new CreateChannelComponent.ModalParams()
        {
            Planet = Data.Channel.Planet,
            ChannelType = type
        };
        
        if (Data.Channel.ChannelType == ChannelTypeEnum.PlanetCategory){
            data.Parent = Data.Channel;
        }

        ModalRoot.OpenModal<CreateChannelComponent>(data);
    }

    private async Task DeleteChannelListItem()
    {
        await CloseAsync();
        
        if (Data.Channel.ChannelType == ChannelTypeEnum.PlanetCategory){
            // Ensure category has no children if we are deleting it
            if (Data.Channel.Planet.Channels.Any(x => x.ParentId == Data.Channel.Id)){

                var data = new InfoModalComponent.ModalParams(
                    "You can't delete this!",
                    "This is due to this category having channels and/or categories inside of it.",
                    "Okay",
                    () =>
                    {
                        Console.WriteLine("User Clicked Ok");
                        return Task.CompletedTask;
                    }
                );

                ModalRoot.OpenModal<InfoModalComponent>(data);
                return;
            }
        }

        var modalData =
        new ConfirmModalComponent.ModalParams(
            $"Delete {Data.Channel.Name}?",
             "Are you sure?",
             "Continue",
             "Cancel", 
             async () =>
             {
                 // TODO: Progress toast
                 Console.WriteLine("Confirmed channel model deletion.");
                 _ = await Data.Channel.DeleteAsync();
             },
             () =>
             {
                 Console.WriteLine("Cancelled channel model deletion.");
                 return Task.CompletedTask;
             }
        );
        
        ModalRoot.OpenModal<ConfirmModalComponent>(modalData);
    }

    private async Task EditChannelListItem()
    {
        await CloseAsync();
        
        var data = new EditChannelListItemComponent.ModalParams()
        {   
            Channel = Data.Channel
        };
        
        ModalRoot.OpenModal<EditChannelListItemComponent>(data);
    }
}
