@inject ContextMenuService ContextMenuService
@implements IDisposable

@* Placeholder *@
@if (User is null)
{
    <div class="user-info" style="@Style">
        <div class="left-block">
            <img alt="user not found" class="pfp" src="@_avatarUrl">
            <div class="name-status">
                <div class="name-tag">
                    <p class="username" style="color: @_roleColor">Not Found</p>
                </div>
                <p class="status">
                    -------------
                </p>
            </div>
            <div class="state-circle offline" />
        </div>
    </div>
    return;
}

<div @oncontextpress="@OnContextMenu" style="display:inline" tabindex="0"
     @onkeydown="@(async e => { if (e.Key == "Enter") await ShowProfileAsync(); })">
    <div class="user-info" style="@Style" @onclick="@ShowProfileAsync">
        <div class="left-block">
            @if (User.AnimatedAvatar)
            {
                <style>
                    .user-info:hover .avatar-@User.Id {
                        background-image: url(@_animAvatarUrl) !important;
                    }
                </style>
            }
            <div class="avatar avatar-@User.Id" style="background-image: url(@_avatarUrl);" alt="@_name's profile picture" @onerror="@OnPfpError">
                <div class="state-circle @_statusClass"></div>
            </div>
            
            <div class="name-status">
                <div class="name-tag">
                    <p class="username" style="color: @_roleColor" @onclick="@ShowProfileAsync">@_name</p>
                    <div class="dot-badge-holder">
                        @if (User.SubscriptionType == UserSubscriptionTypes.Stargazer.Name)
                        {
                            <BasicTooltipComponent Title="Stargazer" Placement="top">
                                <img title="Stargazer" alt="Stargazer badge" class="dot-badge" src="_content/Valour.Client/media/stargazer-badge.svg"/>
                            </BasicTooltipComponent>
                        }
                        @if (UserId <= 22113735421460480)
                        {
                            <span style="font-weight: bold; font-size: 8px; margin-left: 2px; color: var(--v-purple)">1k</span>
                        }
                    </div>
                    @if (User.Bot)
                    {
                        <p class="user-badge bot">BOT</p>
                    }
                    @if (User.ValourStaff)
                    {
                        <p class="user-badge staff">STAFF</p>
                    }
                </div>
                <p class="status">
                    @_statusText
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User User { get; set; }
    
    [Parameter]
    public long UserId { get; set; }
    
    // You can additionally supply the PlanetMember object 
    // for role color and syncing
    [Parameter]
    public PlanetMember Member { get; set; }
    
    [Parameter]
    public string Style { get; set; }
    
    // Internal cached values
    private string _name = DefaultName;
    private string _userTag;
    private string _roleColor = DefaultRoleColor;
    private string _avatarUrl;
    private string _animAvatarUrl;

    private string _statusClass = "offline";
    private string _statusText = "";

    // Defaults
    const string DefaultRoleColor = "#fff";
    const string DefaultName = "Unknown User";

    protected override async Task OnInitializedAsync()
    {
        // It's slower to just supply the member, but we can
        // use the UserId to still function
        if (User is null && Member is not null)
        {
            User = await User.FindAsync(Member.UserId);
        }
        
        if (User is not null)
        {
            UserId = User.Id;
            User.OnUpdated += OnUserUpdate;
        }
        else
        {
            // Id given, but no user supplied
            if (UserId != 0)
            {
                User = await User.FindAsync(UserId);
                User.OnUpdated += OnUserUpdate;
            }
        }

        if (Member is not null)
        {
            UserId = Member.UserId;
            Member.OnUpdated += OnMemberUpdate;
            Member.OnRoleModified += OnMemberRoleModified;
        }

        await CalculateAll();

        StateHasChanged();
    }

    private async Task CalculateAll()
    {
        CalculateName();
        CalculateTag();
        CalculateAvatar();
        CalculateStatus();
        CalculateStatusCode();
        await DetermineColorChange();
    }

    void IDisposable.Dispose()
    {
        if (User is not null)
        {
            User.OnUpdated -= OnUserUpdate;
        }

        if (Member is not null)
        {
            Member.OnUpdated -= OnMemberUpdate;
            Member.OnRoleModified -= OnMemberRoleModified;
        }
    }

    private void OnContextMenu(MouseEventArgs e)
    {
        if (Member is not null)
        {
            ContextMenuService.Root.OpenMenu<MemberContextMenu>(e,
                new MemberContextMenu.MemberContextParams()
                {
                    Member = Member
                }
            );
        }
        else
        {
            ContextMenuService.Root.OpenMenu<UserContextMenu>(e,
                new UserContextMenu.UserContextParams()
                {
                    User = User
                }
            );
        }
    }

    private void CalculateName()
    {
        _name = (Member is not null && !string.IsNullOrWhiteSpace(Member.Nickname)) 
            ? Member.Nickname : User?.Name ?? "Unknown User";
    }

    private void CalculateTag()
    {
        _userTag = User?.Tag ?? "????";
    }

    private void CalculateAvatar()
    {
        _avatarUrl = AvatarUtility.GetAvatarUrl(User, Member, AvatarFormat.Webp128);
        if (User.AnimatedAvatar)
        {
            _animAvatarUrl = AvatarUtility.GetAvatarUrl(User, Member, AvatarFormat.WebpAnimated128);
        }
    }

    private void CalculateStatus()
    {
        _statusText = User?.Status ?? string.Empty;
    }

    private void CalculateStatusCode()
    {
        _statusClass = User?.UserState?.CssClassName ?? "offline";
    }

    private async Task<bool> DetermineColorChange()
    {
        var old = _roleColor;
        if (Member is null)
        {
            _roleColor = DefaultRoleColor;
        }
        else
        {
            var displayedRole = await Member.GetDisplayedRoleAsync();
            _roleColor = displayedRole is null ? DefaultRoleColor : displayedRole.Color;
        }

        return old != _roleColor;
    }

    private Task OnUserUpdate(ModelUpdateEvent eventData)
    {
        bool render = false;
        
        if (eventData.PropsChanged.Contains(nameof(User.CustomAvatar)))
        {
            render = true;
            CalculateAvatar();
        }
        if (eventData.PropsChanged.Contains(nameof(User.Name)))
        {
            render = true;
            CalculateName();
        }
        if (eventData.PropsChanged.Contains(nameof(User.Tag)))
        {
            render = true;
            CalculateTag();
        }
        if (eventData.PropsChanged.Contains(nameof(User.Status)))
        {
            render = true;
            CalculateStatus();
        }
        if (eventData.PropsChanged.Contains(nameof(User.UserStateCode)))
        {
            render = true;
            CalculateStatusCode();
        }
        
        if (render)
        {
            StateHasChanged();
        }

        return Task.CompletedTask;
    }
 
    private Task OnMemberUpdate(ModelUpdateEvent eventData)
    {
        bool render = false;

        if (eventData.PropsChanged.Contains(nameof(Member.MemberAvatar)))
        {
            render = true;
            CalculateAvatar();
        }
        
        if (eventData.PropsChanged.Contains(nameof(Member.Nickname)))
        {
            render = true;
            CalculateName();
        }
        
        if (render)
        {
            StateHasChanged();
        }

        return Task.CompletedTask;
    }

    private async Task OnMemberRoleModified(MemberRoleEvent eventData)
    {
        // We can skip for update because it's the same role
        if (await DetermineColorChange())
        {
            StateHasChanged();
        }
    }

    private void OnPfpError()
    {
        _avatarUrl = AvatarUtility.GetFailedPfpUrl(User);
        StateHasChanged();
    }
    
    private async Task ShowProfileAsync(MouseEventArgs e = null)
    {
        double x = e?.ClientX ?? 0;
        double y = e?.ClientY ?? 0;
        
        if (Member is not null)
        {
            await ProfilePopup.Instance.OpenAsync(Member, (int)x, (int)y, "bottomRight");
        }
        else
        {
            await ProfilePopup.Instance.OpenAsync(User, (int)x, (int)y, "bottomRight");
        }
    }

    public async Task UpdateAll()
    {
        await CalculateAll();
        StateHasChanged();
    }
    
    public void Refresh()
    {
        StateHasChanged();
    }
}
