@using System.Text
@using Valour.Shared.Utilities
@implements IDisposable
@inject ChannelDragManager DragManager
@inject ClientCategoryManager CategoryManager
@inject ContextMenuService ContextMenuService
@inject ValourClient Client
@inject ChannelService ChannelService
@inject NotificationService NotificationService
@inject ChannelStateService ChannelStateService
@inject UnreadService UnreadService

<div
    style="margin-left: @(Depth > 1 ? 18 : 0)px"
    class="channel-wrapper"
    draggable="true"
    depth="@Depth"

    @onclick:stopPropagation="true"
    @onclick="OnClick"

    @ondragstart:stopPropagation="true"
    @ondragstart="@OnDragStart"
    
    @ondrag:stopPropagation="true"
    @ondrag="@OnDrag"

    @ondrop:stopPropagation="true"
    @ondrop="@OnDropOn"

    @oncontextpress:stopPropagation="true"
    @oncontextpress="@OnContextMenu"

    @ondragleave:stopPropagation="true"
    @ondragleave="@OnDragLeave"

    @ondragend:stopPropagation="true"
    @ondragend="@OnDragEnd"
>
    <div class="channel-wrapper">

        @if (DragManager.DragOverId == Channel.Id &&
             DragManager.DragIsTop)
        {
            <div
                class="drop-line"
                @ondragenter:stopPropagation="true"
                ondragenter="return false;">
            </div>
        }
        <div
            class="@ChosenCss"
            id="@Channel.Id">
            
            @{
                var iconData = GetIconData();
            }

            <i class="channel-icon bi-@iconData.Icon" style="font-size: @iconData.Size; transform:  translateY(calc(-50% - @(iconData.VerticalShift))); left: @(iconData.HorizontalShift)" aria-label="@iconData.AltText"></i>

            @if (IsNested)
            {
                <div class="path" depth="@Depth"></div>
            }
            
            @if (_notificationCount > 0)
            {
                <p class="notif-count">@_notificationCount</p>
            }

            @if (IsPrivate)
            {
                <img alt="Locked" class="lock-icon" src="_content/Valour.Client/media/channel-list/lock.svg"/>
            }
            
            <p class="name">
                @Channel.Name
            </p>

        </div>
        @if (DragManager.DragOverId == Channel.Id &&
             !DragManager.DragIsTop)
        {
            <div
                class="drop-line"
                @ondragenter:stopPropagation="true"
                ondragenter="return false;">
            </div>
        }

        @if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            <div
                class="drop full"
                @ondragenter:stopPropagation="true"
                @ondragenter="@OnDragEnterBottom">
            </div>
        }
        else
        {
            <div
                class="drop top"
                @ondragenter:stopPropagation="true"
                @ondragenter="@OnDragEnterTop">
            </div>
            <div
                class="drop bottom"
                @ondragenter:stopPropagation="true"
                @ondragenter="@OnDragEnterBottom">
            </div>
        }
    </div>
    
    @{
        if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            if (_children is not null && _isOpen)
            {
                if (_children.Count > 0)
                {
                    <div class="sub-list" ondragover="event.preventDefault();" depth="@(Depth + 1)">
                        <div class="path str" style="height: @(GetLineLength() * 27f)px" depth="@(Depth + 1)"></div>
                        
                        @for (int i = 0; i < _children.Count; i++)
                        {
                            var ii = i;
                            var child = _children[ii];
                            
                            <ChannelDirectoryItem @key="@child.Id"
                                             PlanetComponent="@PlanetComponent"
                                             ParentComponent="@this"
                                             Channel="@child" />
                        }
                    </div>
                }
            }
        }
    }
</div>



@code {
    [Parameter]
    public PlanetDirectory PlanetComponent { get; set; }
    
    [Parameter]
    public ChannelDirectoryItem ParentComponent { get; set; }
    
    [Parameter]
    public Channel Channel { get; set; }
    
    private uint Depth => ChannelPosition.GetDepth(Channel.RawPosition);
    
    public Planet Planet { get; set; }

    private bool IsNested => Depth > 1;
    
    private string ChosenCss
    {
        get
        {
            var css = "channel";

            if (ChannelService.ConnectedPlanetChannels.Any(x => x.Id == Channel.Id))
                css += " open";

            if (DragManager.DragOverId == Channel.Id)
                css += " drag-over";

            if (IsNested)
                css += " nested";

            if (_notificationCount > 0)
                css += " has-notif";
            
            return css;
        }
    }
    
    public bool IsPrivate  { get; set; }
    public bool IsUnread { get; set; }
    
    private List<Channel> _children = new();
    private bool _isOpen;
    private int _notificationCount;
    
    protected override void OnInitialized()
    {
        // TODO: Deal with
        // ModelObserver<Channel>.AnyUpdated += OnChannelUpdate;
        // ModelObserver<Channel>.AnyDeleted += OnChannelDeletion;

        Planet = PlanetComponent.Planet;
        
        PlanetComponent.ChannelsNeedRefresh += BuildSelf;
        Planet.Channels.Changed += OnChannelsChanged;
        Channel.Updated += OnChannelsChanged;
        Channel.Deleted += OnChannelDeleted;
        Channel.UnreadStateChanged += OnUnreadChanged;
        
        ChannelService.ChannelConnected += OnChannelConnectionChange;
        ChannelService.ChannelDisconnected += OnChannelConnectionChange;

        NotificationService.NotificationReceived += OnNotification;
        ChannelStateService.ChannelStateUpdated += OnChannelStateUpdate;
        ChannelStateService.UserChannelStateUpdated += OnUserChannelStateUpdate;

        BuildSelf();
    }

    private void OnUnreadChanged(bool unread)
    {
        IsUnread = unread;
        Refresh();
        
        if (ParentComponent is not null)
        {
            ParentComponent.NotifyChildUnreadChange();
        }
    }

    private void BuildSelf()
    {
        _isOpen = CategoryManager.IsOpen(Channel);

        BuildChildren();
        DetermineNotifications();
        DetermineUnread();
        Refresh();
    }
    
    private void OnChannelsChanged(IModelEvent<Channel> eventData)
    {
        BuildSelf();
        BuildChildren();
        Refresh();
    }
    
    private void OnChannelDeleted()
    {
        RefreshParentsRecursive();
    }

    private int GetLineLength()
    {
        var lastDirectDescendant = Planet.Channels.LastOrDefault(x => x.ParentId == Channel.Id);
        
        if (lastDirectDescendant is null)
            return 0;
        
        // Now count how many channels are after this and before the last direct descendant
        var count = Planet.Channels.Count(x => x.RawPosition > Channel.RawPosition && x.RawPosition < lastDirectDescendant.RawPosition && PlanetComponent.GetVisible(x));

        return count;
    }

    private void OnContextMenu(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<ChannelContextMenu>(e, new ChannelContextMenu.ChannelContextParams()
        {
            Channel = Channel
        });
    }

    private void BuildChildren()
    {
        if (Channel.ChannelType != ChannelTypeEnum.PlanetCategory)
            return;
        
        _children.Clear();

        foreach (var channel in Planet.Channels)
        {
            if (channel.ParentId == Channel.Id)
                _children.Add(channel);
        }
    }
    
    private async Task OnClick()
    {
        DragManager.OnItemClickInCategory(this);

        // Chat channels
        if (ISharedChannel.ChatChannelTypes.Contains(Channel.ChannelType))
        {
            var newWindowContent = await ChatWindowComponent.GetDefaultContent(Channel);
            
            await WindowService.OpenWindowAtFocused(newWindowContent);
        }
        else if (ISharedChannel.VoiceChannelTypes.Contains(Channel.ChannelType))
        {
            await CallComponent.Instance.Initialize(Channel);
        }
        else if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            _isOpen = !_isOpen;
            CategoryManager.SetOpen(Channel, _isOpen);
            PlanetComponent.SetCategoryOpened(Channel.Id, !_isOpen);
            RefreshParentsRecursive();
        }
        
        Refresh();
    }

    public void RefreshParentsRecursive()
    {
        if (ParentComponent is not null){
            ParentComponent.Refresh();
            ParentComponent.RefreshParentsRecursive();
        }
    }

    private bool _needsRecursiveRefresh = false;

    public void NotifyChildUnreadChange()
    {
        DetermineUnread();
        Refresh();

        if (ParentComponent is not null)
        {
            ParentComponent.NotifyChildUnreadChange();
        }
    }
    
    private void DetermineUnread()
    {
        if (Channel.ChannelType != ChannelTypeEnum.PlanetCategory)
        {
            IsUnread = UnreadService.IsChannelUnread(Channel.PlanetId, Channel.Id);
        }
        else
        {
            var unread = false;
            foreach (var child in _children)
            {
                if (UnreadService.IsChannelUnread(Planet.Id, child.Id))
                {
                    unread = true;
                    break;
                }
            }
            
            IsUnread = unread;
        }
    }

    private void DetermineNotifications()
    {
        _notificationCount = NotificationService.GetChannelNotifications(Channel.Id);
    }
    
    // Get local index
    public int GetIndex(Channel item)
    {
        return _children.FindIndex(x => x.Id == item.Id);
    }

    // Get children
    public List<Channel> GetChildren()
    {
        return _children;
    }
    
    #region Event Handlers
    
    private Task OnUserChannelStateUpdate(UserChannelState state)
    {
        if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            var channel = _children.FirstOrDefault(x => x.Id == state.ChannelId);
            if (channel is null || channel.ParentId != Channel.Id)
                return Task.CompletedTask;
        }
        else
        {
            if (Channel.Id != state.ChannelId)
                return Task.CompletedTask;
        }
        
        DetermineUnread();
        Refresh();
        
        return Task.CompletedTask;
    }

    private Task OnChannelStateUpdate(ChannelStateUpdate state)
    {
        if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            var channel = _children.FirstOrDefault(x => x.Id == state.ChannelId);
            if (channel is null || channel.ParentId != Channel.Id)
                return Task.CompletedTask;
        }
        else
        {
            if (Channel.Id != state.ChannelId)
                return Task.CompletedTask;
        }
            
        DetermineUnread();
        Refresh();

        return Task.CompletedTask;
    }
    
    private Task OnChannelConnectionChange(Channel channel)
    {
        if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
            return Task.CompletedTask;
            
        Refresh();

        return Task.CompletedTask;
    }
    
    private Task OnNotification(Notification notification)
    {
        if (Channel.ChannelType == ChannelTypeEnum.PlanetCategory)
        {
            var channel = _children.FirstOrDefault(x => x.Id == notification.ChannelId);
            if (channel is null || channel.ParentId != Channel.Id)
                return Task.CompletedTask;
        }
        else
        {
            if (Channel.Id != notification.ChannelId)
                return Task.CompletedTask;
        }
        
        DetermineNotifications();
        Refresh();

        return Task.CompletedTask;
    }
    
    #endregion
    
    #region Icon Stuff

    private struct IconState
    {
        public bool Open;
        public bool Unread;
        public ChannelTypeEnum ChannelType;
        
        public IconState(bool open, bool unread, ChannelTypeEnum channelType)
        {
            Open = open;
            Unread = unread;
            ChannelType = channelType;
        }
        
        public override bool Equals(object obj)
        {
            return obj is IconState state &&
                   Open == state.Open &&
                   Unread == state.Unread &&
                   ChannelType == state.ChannelType;
        }
        
        public override int GetHashCode()
        {
            return HashCode.Combine(Open, Unread, ChannelType);
        }
    }

    private struct IconData
    {
        public string Icon;
        public string AltText;
        public string Size;
        public string VerticalShift;
        public string HorizontalShift;
        
        public IconData(string icon, string altText, string size, string verticalShift = "0px", string horizontalShift = "8px")
        {
            Icon = icon;
            AltText = altText;
            Size = size;
            VerticalShift = verticalShift;
            HorizontalShift = horizontalShift;
        }
    }

    private static readonly Dictionary<IconState, IconData> IconDataLookup = new()
    {
        // Planet chats (cant be open)
        { new IconState(false, false, ChannelTypeEnum.PlanetChat), new IconData("chat-left", "Chat channel", "14px", "-2px")  },
        { new IconState(false, true, ChannelTypeEnum.PlanetChat), new IconData("chat-left-fill", "Chat channel with unread messages", "14px", "-2px")  },
        
        // Planet categories
        { new IconState(true, false, ChannelTypeEnum.PlanetCategory), new IconData("folder2-open", "Open category", "16px") },
        { new IconState(true, true, ChannelTypeEnum.PlanetCategory), new IconData("folder-fill", "Open category with unread messages", "16px") },
        { new IconState(false, false, ChannelTypeEnum.PlanetCategory), new IconData("folder", "Closed category", "16px") },
        { new IconState(false, true, ChannelTypeEnum.PlanetCategory), new IconData("folder-fill", "Closed category with unread messages", "16px") },
        
        // Planet voice
        { new IconState(false, false, ChannelTypeEnum.PlanetVoice), new IconData("music-note-beamed", "Voice channel", "16px", "-2px", "6px") },
        { new IconState(false, true, ChannelTypeEnum.PlanetVoice), new IconData("music-note-beamed", "Voice channel with unread messages", "16px", "-2px", "6px") },
        
        // Direct chat
        { new IconState(false, false, ChannelTypeEnum.DirectChat), new IconData("chat-left", "Direct chat", "14px", "-2px") },
        { new IconState(false, true, ChannelTypeEnum.DirectChat), new IconData("chat-left-fill", "Direct chat with unread messages", "14px", "-2px") },
        
        // Direct voice
        { new IconState(false, false, ChannelTypeEnum.DirectVoice), new IconData("music-note-beamed", "Direct voice", "16px", "-2px", "6px") },
        { new IconState(false, true, ChannelTypeEnum.DirectVoice), new IconData("music-note-beamed", "Direct voice with unread messages", "16px", "-2px", "6px") },
        
        // Group chat
        { new IconState(false, false, ChannelTypeEnum.GroupChat), new IconData("chat-left", "Group chat", "14px", "-2px") },
        { new IconState(false, true, ChannelTypeEnum.GroupChat), new IconData("chat-left-fill", "Group chat with unread messages", "14px", "-2px") },
        
        // Group voice
        { new IconState(false, false, ChannelTypeEnum.GroupVoice), new IconData("music-note-beamed", "Group voice", "16px", "-2px", "6px") },
        { new IconState(false, true, ChannelTypeEnum.GroupVoice), new IconData("music-note-beamed", "Group voice with unread messages", "16px", "-2px", "6px") },
    };
    
    private static readonly IconData DefaultIconData = new IconData("question", "Unknown channel type", "15px");

    private IconData GetIconData()
    {
        var state = new IconState(_isOpen, IsUnread, Channel.ChannelType);
        return IconDataLookup.GetValueOrDefault(state, DefaultIconData); // Fallback to question mark icon
    }
    
    #endregion
    
    #region Drag and Drop
    
    private void OnDragEnterTop()
    {
        DragManager.OnDragEnterItem(Channel.Id, true);
        Refresh();
    }
    
    private void OnDragEnterBottom()
    {
        DragManager.OnDragEnterItem(Channel.Id, false);
        Refresh();
    }

    private async Task OnDrag(MouseEventArgs e)
    {
        await WindowTargetScanner.ScanAsync((float)e.ClientX, (float)e.ClientY);
    }
    
    private void OnDragStart()
    {
        DragManager.OnItemStartDragInCategory(this);
    }

    private async Task OnDragEnd(MouseEventArgs e)
    {
        DragManager.OnCancelDrag();
    }

    private void OnDragLeave()
    {
        Refresh();
    }

    private async Task OnDropOn()
    {
        await DragManager.OnItemDropOn(this);
        Refresh();
    }
    
    private void OnDragEnterInnerDrop()
    {
        DragManager.HighlightInner = this;
        Refresh();
    }
    
    #endregion
    
    #region Render controls
    
    private bool _render;
    
    public void Refresh()
    {
        _render = true;
        StateHasChanged();
    }
    
    protected override bool ShouldRender() => _render;

    protected override void OnAfterRender(bool firstRender)
    {
        _render = false;
    }
    
    #endregion
    
    public void Dispose()
    {
        //ModelObserver<Channel>.AnyUpdated -= OnChannelUpdate;
        //ModelObserver<Channel>.AnyDeleted -= OnChannelDeletion;
        
        PlanetComponent.ChannelsNeedRefresh -= BuildSelf;
        Planet.Channels.Changed -= OnChannelsChanged;
        
        NotificationService.NotificationReceived -= OnNotification;
        ChannelStateService.ChannelStateUpdated -= OnChannelStateUpdate;
        ChannelStateService.UserChannelStateUpdated -= OnUserChannelStateUpdate;
        
        ChannelService.ChannelConnected -= OnChannelConnectionChange;
        ChannelService.ChannelDisconnected -= OnChannelConnectionChange;
    }
}