@using Valour.Shared.Utilities
@implements IDisposable
@inject ChannelDragManager DragManager
@inject ContextMenuService ContextMenuService
@inject ChannelService ChannelService
@inject UnreadService UnreadService
@inject NotificationService NotificationService

<div 
    class="@GetCssClass()" 
    id="list-@Planet.Id"
    @oncontextpress="@OnContextPress">
    <div class="header-wrapper" style="cursor:pointer" id="list-inner-@Planet.Id">
        <div @onclick='@OnClick' class="header" ondragover="event.preventDefault();">
            <div class="left">
                <PlanetIcon Planet="@Planet" Size="24" Unread="@_hasUnread"/>
                <p class="planet-name">
                    @Planet.Name
                </p>
            </div>
            <div class="right">
                @if (_notifications > 0)
                {
                    <div class="notif-badge">
                        <span>@_notifications</span>
                    </div>
                }
                
                @if (_canEdit)
                {
                    <div class="edit-button" @onclick:stopPropagation="true" @onclick="@OnClickEdit">
                        <i class="bi bi bi-gear-fill"></i>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="channel-list @(Open ? "open" : "")">
        <div class="channel-list-inner">
            <div class="v-gradient-underline"></div>
            <div class="list-wrapper">
                <div class="channel planet-about" @onclick="OnClickPlanetInfo">
                    <i class="bi bi-info-circle-fill planet-pseudo-icon"></i>
                    <p class="name">
                        About Planet
                    </p>
                </div>
                <div class="channel planet-rules" @onclick="OnClickPlanetRules">
                    <i class="bi bi-list-check planet-pseudo-icon"></i>
                    <p class="name">
                        Rules
                    </p>
                </div>
                @if (Planet.EnableThreads)
                {
                    <div class="channel planet-threads" @onclick="OnClickPlanetThreads">
                        <i class="bi bi-rocket-takeoff-fill planet-pseudo-icon"></i>
                        <p class="name">
                            Threads
                        </p>
                    </div>
                }

                @foreach (var root in RootChannels)
                {
                    <ChannelDirectoryItem @key="@root.Id"
                                     PlanetComponent="@this"
                                     Channel="@root"/>
                }
            </div>
        </div>
    </div>
</div>
 
@code {
    public HybridEvent ChannelsNeedRefresh;
    
    /// <summary>
    /// A hashset of all the categories which have been closed (minimized)
    /// </summary>
    public HashSet<long> ClosedCategories = new();
    
    public List<Channel> RootChannels = new();
    
    [Parameter] 
    public Planet Planet { get; set; }

    public bool Open { get; set; } = true;

    private int _notifications;
    private bool _hasUnread;
    
    private bool _canEdit;

    protected override async Task OnInitializedAsync()
    {
        Planet.Channels.Changed += OnChannelsChanged;
        UnreadService.PlanetUnreadChanged += OnPlanetUnreadChanged;

        await UnreadService.FetchUnreadPlanetChannelsAsync(Planet.Id);
        
        DetermineUnreadAndNotifications();
        DeterminePermissions();
        DetermineRootChannels();
        
        StateHasChanged();
    }

    private void OnPlanetUnreadChanged(long planetId)
    {
        if (planetId != Planet.Id)
            return;

        InvokeAsync(() =>
        {
            DetermineUnreadAndNotifications();
            StateHasChanged();
        });
    }
    
    private void DetermineRootChannels()
    {
        RootChannels = Planet.Channels
            .Where(ShouldShowChannel)
            .Where(x => x.ParentId is null || !Planet.Channels.ContainsId(x.ParentId.Value))
            .ToList();
    }

    private void OnChannelsChanged(IModelEvent<Channel> eventData)
    {
        InvokeAsync(() =>
        {
            Console.WriteLine("Channels changed");
            DetermineRootChannels();
            StateHasChanged();
        });
    }
    
    public bool GetVisible(Channel channel)
    {
        if (!ShouldShowChannel(channel))
            return false;

        if (channel.ParentId is not null)
        {
            if (ClosedCategories.Contains(channel.ParentId.Value))
            {
                return false;
            }
            
            var parent = Planet.Channels.Get(channel.ParentId.Value);
            if (parent is null)
                return true;
            
            return GetVisible(parent);
        }
        else
        {
            return true;
        }
    }

    public bool ShouldShowChannel(Channel channel)
    {
        if (channel.ChannelType != ChannelTypeEnum.PlanetChat)
            return true;

        return !Planet.Channels.Any(x =>
            ISharedChannel.IsPlanetCallType(x.ChannelType) &&
            x.AssociatedChatChannelId == channel.Id);
    }

    public void SetCategoryOpened(long categoryId, bool value)
    {
        if (value)
            ClosedCategories.Add(categoryId);
        else
            ClosedCategories.Remove(categoryId);
        
        StateHasChanged();
    }

    private void DeterminePermissions()
    {
        _canEdit = Planet.MyMember?.HasPermission(PlanetPermissions.Manage) ?? false;
    }

    private void DetermineUnreadAndNotifications()
    {
        _hasUnread = UnreadService.IsPlanetUnread(Planet.Id);
        _notifications = NotificationService.GetPlanetNotifications(Planet.Id);
    }

    private void OnContextPress(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<PlanetContextMenu>(e,
            new PlanetContextMenu.PlanetContextParams()
            {
                Planet = Planet
            }
        );
    }
    
    public string GetCssClass() => 
        Open ? "planet is-open" : "planet";

    public string GetArrowStyle() =>
        Open ? "transform: rotate(90deg);" : "";

    public void OnClick()
    {
        Open = !Open;
        StateHasChanged();
    }
    
    private void OnClickEdit()
    {
        var data = new EditPlanetComponent.ModalParams()
        {
            Planet = Planet
        };
        
        ModalRoot.Instance.OpenModal<EditPlanetComponent>(data);
    }
    
    private async Task OnClickPlanetInfo()
    {
        var newWindowContent = PlanetInfoWindowComponent.GetDefaultContent(Planet);
        await WindowService.OpenWindowAtFocused(newWindowContent);
    }

    private async Task OnClickPlanetRules()
    {
        var newWindowContent = PlanetRulesWindowComponent.GetDefaultContent(Planet);
        await WindowService.OpenWindowAtFocused(newWindowContent);
    }

    private async Task OnClickPlanetThreads()
    {
        var newWindowContent = ThreadsWindowComponent.GetDefaultContent(Planet);
        await WindowService.OpenWindowAtFocused(newWindowContent);
    }

    void IDisposable.Dispose()
    {
        Planet.Channels.Changed -= OnChannelsChanged;
        UnreadService.PlanetUnreadChanged -= OnPlanetUnreadChanged;
    }
}
