@inherits ControlledRenderComponentBase

<div class="planets-dm-directory">
    <TabContainerComponent Titles='new[] { "Planets", "Chats" }'
                           IconOne="globe-americas"
                           IconTwo="chat-dots"
                           Size="small"
                           MaxHeight="none"
                           ContentStyle="padding: 0; display: flex; flex-direction: column; flex: 1; min-height: 0;">
        <TabOne>
            <div class="search-bar">
                <VSearchBox Value="@_filterText" ValueChanged="@OnFilterChanged" Placeholder="Search planets..."/>
            </div>
            <JoinedPlanetsDirectory FilterText="@_filterText" />
        </TabOne>
        <TabTwo>
            <div class="search-bar">
                <VSearchBox Value="@_filterText" ValueChanged="@OnFilterChanged" Placeholder="Search chats..."/>
            </div>
            <DirectMessageListComponent FilterText="@_filterText" />
        </TabTwo>
    </TabContainerComponent>
</div>

@code {
    private string _filterText;

    private void OnFilterChanged(string value)
    {
        _filterText = value;
        _ = ReRender();
    }
}
