<div class="image-attachment-wrapper">
    @if (Clickable)
    {
        <img class="attached-image" src="@Attachment.Location" width="@Attachment.Width" height="@Attachment.Height" @onclick="OnClick" />
    }
    else
    {
        @if (CustomStyle is not null)
        {
            <img class="attached-image" src="@Attachment.Location">
        }
        else
        {
            <img class="attached-image" src="@Attachment.Location" width="@Attachment.Width" height="@Attachment.Height"/>
        }
    }
</div>

@code {
    [Parameter]
    public MessageAttachment Attachment { get; set; }

    [Parameter]
    public MessageComponent MessageComponent { get; set; }

    [Parameter]
    public bool Clickable { get; set; } = true;

    [Parameter]
    public string CustomStyle { get; set; }

    public void OnClick()
    {
        //StateHasChanged();
    }
}
