@inherits Modal<PasswordConfirmModal.Params>

<BasicModalLayout Title="@Data.Title" Icon="lock-fill" MaxWidth="300px">
    <MainArea>
        <p>@Data.Description</p>
        <div class="form-group">
            <input placeholder="Enter Password..." id="password-input" type="password" autocomplete="current-password" class="form-control" @bind-value="@_password"/>
            <ResultLabel Style="margin-top: 1em" Result="@_result" />
        </div>
    </MainArea>
    <ButtonArea>
        <div class="basic-modal-buttons">
            <button @onclick="@OnCancel" class="btn v-btn d-inline-block">Cancel</button>
            <button @onclick="@OnConfirm" class="btn v-btn primary d-inline-block">Confirm</button>
        </div>
    </ButtonArea>
</BasicModalLayout>

@code {

    public class Params
    {
        public string Title = "Password Required";
        public string Description;
        public Func<string, Task<TaskResult>> OnConfirmAsync;
    }
	
    private string _password = "";
    private ITaskResult _result;

    private async Task OnConfirm()
    {
        if (Data.OnConfirmAsync is not null)
        {
            var result = await Data.OnConfirmAsync.Invoke(_password);
            _result = result;
            
            if (result.Success)
            {
                Close();
            }
            else
            {
                StateHasChanged();
            }
        }
    }

    private void OnCancel() => Close();
}