@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime JS
@using Valour.Shared.Categories

<section>
    <img class="escape-button" src="_content/Valour.Client/media/escape-button-icon.svg" @onclick="ClickEscape">
    <div class="top-section">
        <h2 class="title">Create a Channel</h2>

        <center>
            <span id="image-span" style="color:white">@imageSpan</span>
        </center>

        <div asp-validation-summary="All" class="text-info"></div>
        <div class="form-group mt-2 new-input-style">
            <label>Channel Name</label>
            <input class="form-control" placeholder="New Channel" @bind-value="@name" />
        </div>
        <div style="margin-top:20px;">
            <img class="lock-icon" src="_content/Valour.Client/media/lock-icon.svg">
            <div class="perm-list-name mb-1">
                Private Channel
            </div>
            <div type="button" style="float: right">
                <label class="switch">
                    <input type="checkbox" @onclick="PrivateSwitch" checked="@isprivate">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    @if (isprivate)
    {
        <div class="private">
            <div class="inner-private">
                <label style="margin-top: 12px;">Who can see and send messages in this channel?</label>
                <div class="roles-box">
                    @foreach (PlanetRole role in Roles)
                    {
                        <div class="role">
                            <div class="perm-list-name mb-1" style="color: @role.GetColorHex();">
                                @role.Name
                            </div>
                            <div type="button" style="float: right">
                                <label class="switch">
                                    @if (role.GetAuthority() == SelfAuthority)
                                    {
                                        <input type="checkbox" @onclick="@(() => SwitchRole(role))" checked="@SelectedRoles[role]" disabled>
                                        <span class="slider round" cursor: not-allowed;></span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" @onclick="@(() => SwitchRole(role))" checked="@SelectedRoles[role]">
                                        <span class="slider round"></span>
                                    }
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    
    @if (isprivate) {
        <div class="form-group mt-4 bottom" style="margin-top: 0px !important;">
            <center>
                <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Create Channel</button>
            </center>
        </div>
    }
    else
    {
        <div class="form-group mt-4 bottom">
            <center>
                <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Create Channel</button>
            </center>
        </div>
    }
</section>
@code {

    [Parameter, EditorRequired]
    public Planet Planet { get; set; }

    [Parameter]
    public PlanetCategory Parent { get; set; }

    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    public int SelfAuthority { get; set; }

    // Input fields
    string name;

    // Spans
    string imageSpan = "";
    Dictionary<PlanetRole, bool> SelectedRoles = new Dictionary<PlanetRole, bool>();

    List<PlanetRole> Roles = new List<PlanetRole>();
    bool isprivate = false;

    public async Task ClickEscape(MouseEventArgs e)
    {
        await ModalInstance.CloseAsync();
    }

    protected override async Task OnInitializedAsync() {
        Roles.Clear();
        SelectedRoles.Clear();

        PlanetMember SelfMember = await ValourClient.GetSelfMember(Planet);

        SelfAuthority = await SelfMember.GetAuthorityAsync();

        var roleResponse = await Planet.GetRolesAsync();

        foreach (PlanetRole item in roleResponse)
        {
            if (item.GetAuthority() > SelfAuthority)
                continue;
                
            Roles.Add(item);
            if (item.GetAuthority() == SelfAuthority)
                SelectedRoles.Add(item, true);
            else
                SelectedRoles.Add(item, false);
        }
        StateHasChanged();
    }

    private void SwitchRole(PlanetRole role) {
        SelectedRoles[role] = !SelectedRoles[role];
    }

    private void PrivateSwitch() {
        isprivate = !isprivate;
    }

    private async Task OnClickSubmit(MouseEventArgs e)
    {

        // Require a name
        if (string.IsNullOrWhiteSpace(name))
        {
            imageSpan = "Please input a channel name!";
            return;
        }


        long userId = ValourClient.Self.Id;

        long parentId = Parent.Id;
        long planetId = Planet.Id;

        CreatePlanetChatChannelRequest createRequest = new()
        {
            Channel = new  PlanetChatChannel()
            {
                Name = name,
                Description = "A chat channel",
                PlanetId = planetId,
                ParentId = parentId,
                Position = -1
            },
            Nodes = new()
        };

        if (isprivate)
        {
            // set the default role channel view perms to false
            
            var defaultRoleId = (await Planet.GetDefaultRoleAsync()).Id;

            PermissionsNode defaultNode = new()
            {
                TargetId = 0,
                PlanetId = Planet.Id,
                RoleId = defaultRoleId,
                Mask = 0x00,
                Code = 0x00,
                TargetType = PermChannelType.PlanetChatChannel
            };

            defaultNode.SetPermission(ChatChannelPermissions.PostMessages, PermissionState.False);
            defaultNode.SetPermission(ChatChannelPermissions.ViewMessages, PermissionState.False);
            defaultNode.SetPermission(ChatChannelPermissions.View, PermissionState.False);

            createRequest.Nodes.Add(defaultNode);

            foreach (PlanetRole role in Roles)
            {
                if (!SelectedRoles[role])
                {
                    continue;
                }

                var roleNode = new PermissionsNode()
                {
                    TargetId = 0,
                    PlanetId = Planet.Id,
                    RoleId = role.Id,
                    Mask = 0x00,
                    Code = 0x00,
                    TargetType = PermChannelType.PlanetChatChannel
                };

                roleNode.SetPermission(ChatChannelPermissions.PostMessages, PermissionState.True);
                roleNode.SetPermission(ChatChannelPermissions.ViewMessages, PermissionState.True);
                roleNode.SetPermission(ChatChannelPermissions.View, PermissionState.True);

                createRequest.Nodes.Add(roleNode);
            }
        }

        var result = await PlanetChatChannel.CreateWithDetails(createRequest);

        if (!result.Success)
        {
            string errorText = result.Message;
            Console.WriteLine(errorText);
            imageSpan = errorText;
            return;
        }

        // close modal
        await ModalInstance.CloseAsync();   
    }

    private async Task OnImageInput()
    {

    }
}
