@using System.Net.Http.Headers
@inject HttpClient http

<h3>Edit Basic Info</h3>

<div class="mt-4 mb-4">
    <div class="input-group" style="max-width: 400px;">
        <input class="form-control" placeholder="Choose a status..." @bind="User.Status" />
        <button class="btn v-button" @onclick="OnStatusApply">Apply</button>
    </div>
    @if (statusError)
    {
        <span class="text-danger">@statusResult</span>
    }
    else
    {
        <span class="text-info">@statusResult</span>
    }
</div>

<div class="mt-2">
    <h5>Profile Image (pfp)</h5>
    <img style="width:128px; border:solid 4px black; margin: 5px; border-radius: 5px;" src="@Pfp_Url" @onerror="OnPfpError" />
    <div style="display:inline-block">
        <InputFile OnChange="LoadFiles" AdditionalAttributes="@InputAttributes"></InputFile>
        <span id="result-span" style="display:block" class="text-info">@Pfp_Output</span>
        <span id="error-span" style="display:block" class="text-danger">@Pfp_Error</span>
    </div>
</div>

@code {
    [Parameter]
    public User User { get; set; }

    public string Pfp_Url { get; set; }

    public string Pfp_Output = "";
    public string Pfp_Error = "";

    public bool statusError;
    public string statusResult;

    Dictionary<string, object> InputAttributes = new Dictionary<string, object>()
    {
        { "accept", ".png,.jpg,.jpeg,.gif" }
    };

    private async Task OnStatusApply()
    {
        var result = await Valour.Api.Items.Item.UpdateAsync(User);
        statusError = !result.Success;

        if (statusError)
            statusResult = result.Message;
        else
            statusResult = "Updated successfully.";

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        Pfp_Url = User.PfpUrl;
    }

    protected async Task OnPfpError()
    {
        Pfp_Url = "_content/Valour.Client/icon-512.png";

        StateHasChanged();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        Pfp_Output = "";
        Pfp_Error = "";

        //var file = await e.File.RequestImageFileAsync("jpeg", 256, 256);

        var file = e.File;

        if (file == null)
        {
            Pfp_Error = "Could not load file as an image.";
        }

        if (file.Size > 2621440)
        {
            Pfp_Error = "Max profile image size is 2mb.";
        }

        byte[] data = new byte[file.Size];

        await file.OpenReadStream(2621440).ReadAsync(data);

        var content = new MultipartFormDataContent();
        var arrContent = new ByteArrayContent(data);
        arrContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

        content.Add(arrContent, file.Name, file.Name);

        var result = await ValourClient.PostAsyncWithResponse<string>($"upload/profile", content);

        if (result.Success)
        {
            Pfp_Url = result.Data;
            Pfp_Output = "Successfully changed profile picture.";
        }
        else
        {
            Pfp_Error = result.Message;
        }

        StateHasChanged();
    }
}