@inherits EmbedItemComponentBase

<div class="embed-item embed-progress @Progress.Classes" style="@Progress.Style">
	@if (Progress.NameItem is not null)
	{
		<div class="item-name">
			<EmbedTextItemComponent Item="@Progress.NameItem" Nested="true" />
		</div>
	}
	<div class="progress">
		@foreach (var bar in Progress.Bars)
		{
			<div class="@BarClasses(bar)" role="progressbar" style="width: @(bar.Value)%; @bar.Style"
			     aria-valuenow="@bar.Value" aria-valuemin="0" aria-valuemax="100">
				@if (bar.ShowLabel)
				{
					<span>@bar.Value%</span>
				}
			</div>
		}
	</div>
</div>

@code {
	private EmbedProgressItem Progress => (EmbedProgressItem)Item;

	private static string BarClasses(EmbedProgressBarItem bar)
	{
		var classes = "progress-bar";
		if (bar.IsStriped || bar.IsAnimated)
			classes += " progress-bar-striped";
		if (bar.IsAnimated)
			classes += " progress-bar-animated";
		if (bar.Classes is not null)
			classes += $" {bar.Classes}";
		return classes;
	}
}
