@implements IDisposable

<div class="embed-row" style="@Row.GetStyle()">
	@foreach(EmbedItem item in Row.Children)
	{
		<EmbedItemComponent embed="@embed" Message="@Message" FormItem="@FormItem" item="@item"></EmbedItemComponent>
	}
</div>

@code {
	[Parameter]
	public EmbedRow Row { get; set; }

	[Parameter]
	public Message Message { get; set; }

	[Parameter]
	public Embed embed { get; set; }

	[Parameter]
	public EmbedFormItem FormItem { get; set; }

	[CascadingParameter]
	public EmbedComponent embedComponent { get; set; }

	public void Refresh()
	{
		if (Row.Id is not null)
			embedComponent.EmbedRowComponents[Row.Id] = this;
		StateHasChanged();
	}

	public void Dispose()
	{
		embedComponent.RefreshRowComponents -= Refresh;
		if (Row.Id is not null)
            embedComponent.EmbedRowComponents.Remove(Row.Id, out var _);
	}

	protected override void OnInitialized()
	{
		embedComponent.RefreshRowComponents += Refresh;
		if (Row.Id is not null)
			embedComponent.EmbedRowComponents[Row.Id] = this;
		StateHasChanged();
	}
}