@inherits EmbedItemComponentBase

<div class="embed-item embed-dropdown @DropDown.Classes" style="@DropDown.Style">
	@if (DropDown.NameItem is not null)
	{
		<div class="item-name">
			<EmbedTextItemComponent Item="@DropDown.NameItem" Nested="true" />
		</div>
	}
	<div class="dropdown-center">
		<button class="btn dropdown-toggle embed-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			@DropDown.Value
		</button>
		<ul class="dropdown-menu dropdown-menu-dark">
			@foreach (var option in DropDown.Options)
			{
				<li>
					<a class="dropdown-item nohide" href="#" @onclick="() => HandleSelect(option)" @onclick:preventDefault="true">
						@option.Text
					</a>
				</li>
			}
		</ul>
	</div>
</div>

@code {
	private EmbedDropDownItem DropDown => (EmbedDropDownItem)Item;

	private void HandleSelect(EmbedDropDownOptionItem option)
	{
		DropDown.Value = option.EffectiveValue;
		StateHasChanged();
	}
}
