@inherits EmbedItemComponentBase

<div class="embed-item embed-input @Input.Classes" style="@Input.Style">
	@if (Input.NameItem is not null)
	{
		<div class="item-name">
			<EmbedTextItemComponent Item="@Input.NameItem" Nested="true" />
		</div>
	}
	<input type="text" class="form-control" placeholder="@Input.Placeholder" @bind-value="@Input.Value" />
</div>

@code {
	private EmbedInputBoxItem Input => (EmbedInputBoxItem)Item;
}
