@inherits EmbedItemComponentBase
@inject IJSRuntime JsRuntime

<div style="@Text.Style" class="@(Nested ? null : "embed-item") @Text.Classes">
	@if (Text.NameItem is not null)
	{
		<div class="item-name">
			<EmbedTextItemComponent Item="@Text.NameItem" Nested="true" />
		</div>
	}
	@if (Text.Text is not null)
	{
		@if (Text.ClickTarget is not null)
		{
			<div class="item-text clickable" @onclick="HandleClickAsync">
				@((MarkupString)MarkdownManager.GetHtml(Text.Text))
			</div>
		}
		else
		{
			<div class="item-text">
				@((MarkupString)MarkdownManager.GetHtml(Text.Text))
			</div>
		}
	}
</div>

@code {
	[Parameter]
	public bool Nested { get; set; }

	private EmbedTextItem Text => (EmbedTextItem)Item;

	private Task HandleClickAsync() =>
		EmbedClickHandler.HandleClickAsync(Text, Root, EnclosingForm, JsRuntime);
}
