@inherits EmbedItemComponentBase

<CascadingValue Value="@this" IsFixed="true">
	<div class="embed-item embed-form @Form.Classes" style="@Form.Style">
		@foreach (var child in Form.Children)
		{
			<EmbedItemComponent Item="@child" @key="@(child.Id ?? (object)child)" />
		}
	</div>
</CascadingValue>

@code {
	public EmbedFormItem Form => (EmbedFormItem)Item;
}
