@implements IDisposable
@inherits BaseEmbedItemComponent

<div style="@item.GetStyle()" class="embed-item embed-form">
	@if (item.Children is not null)
	{
		foreach (EmbedItem _item in item.Children)
		{
			<EmbedItemComponent embed="@embed" Message="@Message" item="@_item" FormItem="@item"></EmbedItemComponent>
		}
	}
</div>

@code {
	[Parameter]
	public Message Message { get; set; }

	[Parameter]
	public Embed embed { get; set; }

	public EmbedFormItem item;

	protected override void OnInitialized()
	{
		item = (EmbedFormItem)_item;
		embedComponent.RefreshFormComponents += Refresh;
		if (item.Id is not null)
			embedComponent.EmbedFormComponents[item.Id] = this;
	}

	public void Dispose()
    {
        embedComponent.RefreshFormComponents -= Refresh;
		if (item.Id is not null)
            embedComponent.EmbedFormComponents.Remove(item.Id, out var _);
    }

	public override void Refresh()
    {
		item = (EmbedFormItem)_item;
		if (item.Id is not null)
			embedComponent.EmbedFormComponents[item.Id] = this;
        StateHasChanged();
    }
}