@implements IDisposable

<div style="@item.GetStyle()" class="embed-item embed-form">
	@foreach (EmbedRow row in item.Rows)
	{
		<EmbedRowComponent Row="@row" Message="@Message" embed="@embed" FormItem="@item"></EmbedRowComponent>
	}
	@if (item.Items is not null)
	{
		foreach (EmbedItem _item in item.Items)
		{
			<EmbedItemComponent embed="@embed" Message="@Message" item="@_item" FormItem="@item"></EmbedItemComponent>
		}
	}
</div>

@code {
	[Parameter]
	public EmbedItem _item { get; set; }

	[Parameter]
	public ClientMessageWrapper Message { get; set; }

	[Parameter]
	public Embed embed { get; set; }

	[CascadingParameter]
    public EmbedComponent embedComponent { get; set; }

	public EmbedFormItem item;

	protected override void OnInitialized()
	{
		item = (EmbedFormItem)_item;
		embedComponent.RefreshFormComponents += Refresh;
	}

	public void Dispose()
    {
        embedComponent.RefreshFormComponents -= Refresh;
    }

	public void Refresh()
    {
		item = (EmbedFormItem)_item;
        StateHasChanged();
    }
}