@implements IDisposable

@using Valour.Shared.Categories
@using Valour.Shared.Planets

@inject AddChannelContextMenu addChannelContextMenu
@inject ClientPlanetManager planetManager
@inject ClientWindowManager windowManager
@inject ClientCategoryManager categoryManager
@inject ChannelListContextMenu listContextMenu



<div class="@Chosen_CSS" id="@Category.Id" draggable="true" ondrag="setDragging(event)">
    <div style="cursor:pointer" id="@Category.Id" ondragover="setDraggedOver(event)" ondrop="Drop(event)" @oncontextmenu="OnContextMenu">
        <div @onclick='@OnClick' style="width:85%; display:inline-block">
            <img class="arrow" src="media/Category-Icon.svg" style="@ArrowStyle">
            <p class="name">
                @Category.Name
            </p>
        </div>
        <p class="add-channel-button" id="add-channel-button" @onclick="OpenAddContextMenu">
            +
        </p>
    </div>
    <!-- The Modal -->
    @if (IsOpen)
    {
        <div class="channel-list">
            @foreach (ChannelListItem item in ItemList)
            {
                ClientPlanetChatChannel channel = item as ClientPlanetChatChannel;
                if (channel != null)
                {
                    if (channel.Parent_Id == Category.Id)
                    {
                        <ChannelListComponent Channel="@channel"></ChannelListComponent>
                    }
                }
                else
                {
                    ClientPlanetCategory planetcategory = item as ClientPlanetCategory;
                    @if (planetcategory.Parent_Id == Category.Id)
                    {
                        <CategoryComponent Category="@planetcategory" Categories="Categories" Channels="Channels" ChannelWindow="ChannelWindow" >
                        </CategoryComponent>
                    }
                }
            }
            <div style="padding-bottom: 20px;" draggable="true" ondrag="setDragging(event)" ondragover="setDraggedOver(event)" ondrop="Drop(event)"></div>
        </div>
    }
</div>
@code {

    [Parameter]
    public bool IsTopLevel { get; set; }

    [Parameter]
    public ClientPlanetCategory Category { get; set; }

    [Parameter]
    public List<ClientPlanetChatChannel> Channels { get; set; }

    [Parameter]
    public List<ClientPlanetCategory> Categories { get; set; }

    [Parameter]
    public ChatChannelWindow ChannelWindow { get; set; }

    public List<ClientPlanetChatChannel> ChildChannels;
    public List<ClientPlanetCategory> ChildCategories;

    public bool IsOpen { get; set; }

    public List<IClientPlanetListItem> ItemList = new List<IClientPlanetListItem>();

    protected override Task OnInitializedAsync()
    {
        planetManager.OnCategoryUpdate += OnCategoryUpdate;

        ChildChannels = Channels.Where(x => x.Parent_Id == Category.Id).ToList();
        ChildCategories = Categories.Where(x => x.Parent_Id == Category.Id).ToList();

        ItemList.AddRange(ChildChannels);
        ItemList.AddRange(ChildCategories);

        IsOpen = categoryManager.IsOpen(Category);

        ItemList.Sort((x, y) => x.Position.CompareTo(y.Position));

        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        planetManager.OnCategoryUpdate -= OnCategoryUpdate;
    }

    public string ArrowStyle
    {
        get
        {
            if (IsOpen)
            {
                return "transform: rotate(90deg);";
            }
            else
            {
                return "";
            }
        }
    }

    public string Chosen_CSS
    {
        get
        {
            if (IsOpen)
            {
                if (IsTopLevel)
                {
                    return "category is-open top-level-category";
                }
                return "category is-open";
            }
            else
            {
                if (IsTopLevel)
                {
                    return "category top-level-category";
                }
                return "category";
            }
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    public void OnClick()
    {
        IsOpen = !IsOpen;

        categoryManager.SetOpen(Category, IsOpen);

        StateHasChanged();
    }

    public async Task OpenAddContextMenu(MouseEventArgs e)
    {
        await addChannelContextMenu.Open(e, Category);
    }

    public async Task OnCategoryUpdate(ClientPlanetCategory category)
    {
        if (Category.Id == category.Id)
        {
            this.Category = category;
            StateHasChanged();
        }
    }

    public async Task OnContextMenu(MouseEventArgs e)
    {
        await listContextMenu.Open(e, Category);
    }
}
