@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime JS
@inject ClientPlanetManager planetManager
@inject ClientWindowManager windowManager
@implements IDisposable

<div class="d-flex flex-column window" style="height:100%; max-width:100%;" id="window" @onclick="@OnClickWindow">

    <div class="channel-info">
        <h3 class="title">
            @Channel.Name
        </h3>
        @if (!string.IsNullOrWhiteSpace(Channel.Description))
        {
            <p class="description">
                @Channel.Description
            </p>
        }

        <div class="channel-buttons">
            <div class="channel-home" @onclick="ReturnHome">
                Home
            </div>
            @if (windowManager.GetWindowCount() > 1)
            {
            <div class="channel-close" @onclick="CloseWindow">
                X
            </div>
            }
        </div>

    </div>

    <MessageHolderComponent @key='$"mh-{Window.Index}"' Window="Window" @ref="MessageHolder"></MessageHolderComponent>

    <div class="textbox-holder ml-1" @onclick="ScrollToBottomAnim">
        <center>
            <textarea id="text-input" class="textbox" rows="2" @bind-value="@currentInput" @bind-value:event="oninput" @onkeypress="OnChatboxKeypress" @onpaste="OnChatboxInput" autofocus>@currentInput</textarea>
        </center>
    </div>
</div>

@code{
    /// <summary>
    /// True if the client has negotiated a channel connection
    /// </summary>
    private bool channelConnected;

    /// <summary>
    /// The input currently within the chatbox, this is bound and any changes will
    /// be reflected within the box.
    /// </summary>
    private string currentInput;

    [Parameter]
    public ChatChannelWindow Window { get; set; }

    [Parameter]
    public Valour.Client.Pages.Index IndexPage { get; set; }

    [Parameter]
    public MainWindowComponent MainWindow { get; set; }

    public ClientPlanetChatChannel Channel;

    public ClientPlanet Planet;

    public ClientPlanetMember SelfMember;

    public Func<Task> ForceRefreshMessages;

    public bool ForceMessageRefresh;

    public MessageHolderComponent MessageHolder { get; set; }

    // Runs when page is initialized
    protected override async Task OnInitializedAsync()
    {
        Channel = Window.Channel;

        Planet = await Window.Channel.GetPlanetAsync();

        Window.Component = this;

        planetManager.OnMemberUpdate += OnPlanetMemberUpdate;
        planetManager.OnRoleUpdate += OnPlanetRoleUpdate;
        planetManager.OnChatChannelUpdate += OnChatChannelUpdate;

        await planetManager.OpenPlanetChatChannel(Window);

        SelfMember = await planetManager.GetPlanetMemberAsync(ClientUserManager.User.Id, Channel.Planet_Id);

        await JS.InvokeVoidAsync("OnChannelLoad", null);

        await JS.InvokeVoidAsync("SetupWindow", Window.Index);

        await JS.InvokeVoidAsync("SetSecretKey", ClientUserManager.UserSecretToken,ClientUserManager.User.Id, Planet.Id);

        await SetupNewChannelAsync();
    }

    void IDisposable.Dispose()
    {
        planetManager.OnMemberUpdate -= OnPlanetMemberUpdate;
        planetManager.OnRoleUpdate -= OnPlanetRoleUpdate;
        planetManager.OnChatChannelUpdate -= OnChatChannelUpdate;
    }

    public async Task OnChatChannelUpdate(ClientPlanetChatChannel channel)
    {
        if (Channel.Id == channel.Id)
        {
            this.Channel = channel;
            StateHasChanged();
        }
    }

    public async Task OnPlanetMemberUpdate(ClientPlanetMember member)
    {
        if (member.Planet_Id != Planet.Id){
            return;
        }

        foreach (var msg in MessageHolder.RenderedMessages.Where(x => x.Author.User_Id == member.User_Id))
        {
            //Console.WriteLine(msg.Message.Message_Index);

            // Update member reference
            msg.Author = member;
            await msg.RefreshMessage();
        }
    }

    public async Task OnPlanetRoleUpdate(PlanetRole role)
    {
        if (role.Planet_Id != Planet.Id)
        {
            return;
        }

        foreach (var msg in MessageHolder.RenderedMessages.Where(x => x.Author.TryGetPrimaryRoleId() == role.Id))
        {
            await msg.RefreshMessage();
        }
    }

    public async Task CloseWindow()
    {
        windowManager.CloseWindow(Window.Index);
        await IndexPage.ForceRefresh();

        // This must be last (again)
        await planetManager.ClosePlanetChatChannel(Window, Channel);
    }

    public async Task ReturnHome()
    {
        HomeWindow newWindow = new HomeWindow(Window.Index);

        windowManager.SetWindow(Window.Index, newWindow);
        MainWindow.RefreshWindow(newWindow);

        // This must be last
        await planetManager.ClosePlanetChatChannel(Window, Channel);
    }

    public async Task SetupNewChannelAsync()
    {
        MessageHolder.Clear();

        MessageHolder.AddMessages(await Channel.GetLastMessagesAsync(64));
    }

    public async Task OnWindowChannelChange(ClientPlanetChatChannel newchannel)
    {
        var oldchannel = Window.Channel;

        Window.Channel = newchannel;
        Channel = newchannel;

        await planetManager.ReplacePlanetChatChannel(Window, oldchannel, newchannel);

        await SetupNewChannelAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("ScrollWindowBottom", Window.Index);
    }

    public async Task OnWindowClosed()
    {
        Console.WriteLine($"Gracefully exiting channel {Channel.Id} due to window change.");
        await planetManager.ClosePlanetChatChannel(Window, Channel);
    }

    public async Task OnRecieveMessage(ClientPlanetMessage message)
    {
        await MessageHolder.AddMessage(message);
    }

    public async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("ScrollWindowBottom", Window.Index);
    }

    public async Task ScrollToBottomAnim()
    {
        await JS.InvokeVoidAsync("ScrollWindowBottomAnim", Window.Index);
    }

    /// <summary>
    /// This runs every time a key is pressed when the chatbox is selected
    /// </summary>
    public async Task OnChatboxKeypress(KeyboardEventArgs args)
    {
        // Debug for key presses
        // Console.WriteLine(currentInput);

        if (args.Key == "Enter" && !args.ShiftKey)
        {
            // Grab current input
            string msg = currentInput;

            Console.WriteLine(currentInput);

            string temp = msg;

            temp = temp.TrimEnd('\n');
            temp = temp.Trim();

            if (string.IsNullOrWhiteSpace(temp))
            {
                return;
            }

            currentInput = "";

            if (temp != "")
            {
                // Post message to server
                //StateHasChanged();
                await PostMessage(msg);
                currentInput = currentInput.TrimStart('\n'); // Fix odd bug
            }
        }
    }

    public async Task OnChatboxInput()
    {

    }

    public async Task OnClickWindow()
    {
        ClientPlanet planet = await ClientPlanetManager.Current.GetPlanetAsync(Channel.Planet_Id);
        await planetManager.SetCurrentPlanet(planet);
    }

    public async Task PostMessage(string msg)
    {
        PlanetMessage message = new PlanetMessage()
        {
            Channel_Id = Channel.Id,
            Content = msg,
            TimeSent = DateTime.UtcNow,
            Author_Id = ClientUserManager.User.Id,
            Planet_Id = Channel.Planet_Id,
            Member_Id = SelfMember.Id
        };

        string json = Newtonsoft.Json.JsonConvert.SerializeObject(message);

        Console.WriteLine("SEND: \n" + json);

        HttpResponseMessage httpresponse = await Http.PostAsJsonAsync<PlanetMessage>($"Channel/PostMessage?token={ClientUserManager.UserSecretToken}", message);

        TaskResult response = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult>(await httpresponse.Content.ReadAsStringAsync());

        Console.WriteLine(response.ToString());
    }

    public async Task UpdateScrollPosition()
    {
        await JS.InvokeVoidAsync("UpdateScrollPosition", Window.Index);
    }

    public async Task ScaleScrollPosition()
    {
        await JS.InvokeVoidAsync("ScaleScrollPosition", Window.Index);
    }

    [JSInvokable("OnScrollTopInvoke")]
    public static async Task OnScrollTop(int index)
    {
        ChatChannelWindow Window = ClientWindowManager.Instance.GetWindow(index) as ChatChannelWindow;
        MessageHolderComponent Holder = Window.Component.MessageHolder;

        if (Window == null)
        {
            Console.WriteLine("Channel window is null in OnScrollTop!");
            return;
        }

        if (Holder.Messages == null || Holder.Messages.Count == 0)
        {
            return;
        }

        ulong firstIndex = Holder.Messages[0].Message_Index;

        Console.WriteLine($"Fetching older messages from index {firstIndex} for window {Window.Index}");

        var messages = await Window.Channel.GetMessagesAsync(firstIndex, 32);

        if (messages == null || messages.Count() == 0)
        {
            return;
        }

        await Window.Component.UpdateScrollPosition(); // This saves the scroll position

        Holder.InsertMessages(0, messages);

        //Window.Component.StateHasChanged();
        await Window.Component.ScaleScrollPosition(); // This ensures the page doesnt move harshly
    }
}
