@inject HttpClient Http
@inject NavigationManager navManager
@inject AutoMapper.IMapper Mapper 
@inject ClientPlanetManager planetManager
@inject AddChannelContextMenu contextMenu
@inject IJSRuntime JS
@inject CreateChannelModal createChannelModal
@using Valour.Shared.Categories

<section>
    <h2 class="create-component-title">Create a Channel</h2>

    <div asp-validation-summary="All" class="text-info"></div>
    <div class="form-group mt-2">
        <label>Channel Name</label>
        <input class="form-control" @bind-value="@name" />
    </div>
    <div style="margin-top:20px;">
        <div class="perm-list-name mb-1">
            Private Channel
        </div>
        <div type="button" style="float: right">
            <label class="switch">
                <input type="checkbox" @onclick="PrivateSwitch" checked="@isprivate">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    @if (isprivate) {
        <label style="margin-top: 12px;">Who can see and send messages in this channel?</label>
        <div class="create-component-roles-box">
            @foreach (PlanetRole role in Roles)
            {
                <div class="role">
                   <div class="perm-list-name mb-1" style="color: @role.GetColorHex();">
                        @role.Name
                    </div>
                    <div type="button" style="float: right">
                        <label class="switch">
                            <input type="checkbox" OnStateChange="SwitchRole(role)" checked="@SelectedRoles[role]">
                            <span class="slider round"></span>
                        </label>
                    </div> 
                </div>

            }
        </div>
    }

    <span id="image-span" style="color:#888888">@imageSpan</span>
    
    <div class="form-group mt-4">
        <center>
            <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Create</button>
        </center>
    </div>
</section>
@code {
    // Input fields
    string name;

    // Spans
    string imageSpan = "";
    Dictionary<PlanetRole, bool> SelectedRoles = new Dictionary<PlanetRole, bool>();

    List<PlanetRole> Roles = new List<PlanetRole>();
    bool isprivate = false;

    protected override async Task OnInitializedAsync() {
        Roles.Clear();
        SelectedRoles.Clear();
        ClientPlanetMember SelfMember = await ClientPlanetMember.GetClientPlanetMemberAsync(ClientUserManager.User.Id, planetManager.GetCurrent().Id);
        ulong SelfAuthority = await SelfMember.GetAuthorityAsync();
        foreach (PlanetRole item in await planetManager.GetCurrent().GetRolesAsync())
        {
            if (item.GetAuthority() >= SelfAuthority)
                continue;
            Roles.Add(item);
            SelectedRoles.Add(item, false);
        }
        StateHasChanged();
    }

    private void SwitchRole(PlanetRole role) {
        SelectedRoles[role] = !SelectedRoles[role];
    }

    private void PrivateSwitch() {
        isprivate = !isprivate;
    }

    private async Task OnClickSubmit(MouseEventArgs e)
    {

        // Require a name
        if (string.IsNullOrWhiteSpace(name))
        {
            name = "Please input a channel name.";
            return;
        }


        ulong user_id = ClientUserManager.User.Id;
        string token = ClientUserManager.UserSecretToken;

        ulong parent_id = contextMenu.SelectedCategory.Id;
        ulong planet_id = contextMenu.SelectedCategory.Planet_Id;

        ClientPlanetChatChannel newChannel = new()
        {
            Name = name,
            Planet_Id = planet_id,
            Parent_Id = parent_id
        };

        JsonContent content = JsonContent.Create(newChannel);

        var create_response = await Http.PostAsync($"api/planet/{planet_id}/channels", content);

        if (!create_response.IsSuccessStatusCode)
        {
            string errorText = $"Error ({create_response.StatusCode}): " + await create_response.Content.ReadAsStringAsync();
            Console.WriteLine(errorText);
            imageSpan = errorText;
            return;
        }

        ulong channel_id;
        bool id_parsed = ulong.TryParse(await create_response.Content.ReadAsStringAsync(), out channel_id);

        if (!id_parsed)
        {
            string errorText = "Error: Failed to parse result.";
            Console.WriteLine(errorText);
            imageSpan = errorText;
            return;
        }

        imageSpan = "Success.";

        if (isprivate) {
            // set the default role channel view perms to false

            ChatChannelPermissionsNode PermissionsNode = new()
            {
                Channel_Id = channel_id,
                Planet_Id = planetManager.GetCurrent().Id,
                Role_Id = planetManager.GetCurrent().Default_Role_Id,
                Code_Mask = 0x00,
                Code = 0x00
            };

            PermissionsNode.SetPermission(ChatChannelPermissions.PostMessages, PermissionState.False);
            PermissionsNode.SetPermission(ChatChannelPermissions.ViewMessages, PermissionState.False);
            PermissionsNode.SetPermission(ChatChannelPermissions.View, PermissionState.False);

            HttpResponseMessage response = await ClientUserManager.Http.PostAsJsonAsync<ChatChannelPermissionsNode>($"Permissions/UpdateChatChannelNode?token={ClientUserManager.UserSecretToken}",
                                                                                                    PermissionsNode);

            if (!response.IsSuccessStatusCode)
            {
                string errorText = $"Error ({response.StatusCode}): " + await response.Content.ReadAsStringAsync();
                Console.WriteLine(errorText);
                imageSpan = errorText;
            }

            foreach (PlanetRole role in Roles)
            {
                
                if (!SelectedRoles[role]) {
                    continue;
                }
                
                PermissionsNode = new ChatChannelPermissionsNode()
                {
                    Channel_Id = channel_id,
                    Planet_Id = planetManager.GetCurrent().Id,
                    Role_Id = role.Id,
                    Code_Mask = 0x00,
                    Code = 0x00
                };

                PermissionsNode.SetPermission(ChatChannelPermissions.PostMessages, PermissionState.True);
                PermissionsNode.SetPermission(ChatChannelPermissions.ViewMessages, PermissionState.True);
                PermissionsNode.SetPermission(ChatChannelPermissions.View, PermissionState.True);

                response = await ClientUserManager.Http.PostAsJsonAsync<ChatChannelPermissionsNode>($"Permissions/UpdateChatChannelNode?token={ClientUserManager.UserSecretToken}",
                                                                                                        PermissionsNode);
                if (!response.IsSuccessStatusCode)
                {
                    string errorText = $"Error ({response.StatusCode}): " + await response.Content.ReadAsStringAsync();
                    Console.WriteLine(errorText);
                    imageSpan = errorText;
                }
            }
        }

        // close modal

        createChannelModal.Component.SetVisibility(false);

        
    }

    private async Task OnImageInput()
    {

    }
}
