@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage

@if (Planet != null)
{
    <body class="edit-planet-body">
        <div class="container">
            <div class="row">
                <div class="col-3 edit-planet-col-left">
                    <b>@Planet.Name</b>
                    <hr />
                    <div class="@GetButtonClass(0)" @onclick="(async () => SetSelectedTab(0))">Info</div>
                    <div class="@GetButtonClass(1)" @onclick="(async () => SetSelectedTab(1))">Invites</div>
                    <div class="@GetButtonClass(2)" @onclick="(async () => SetSelectedTab(2))">Users</div>
                    <div class="@GetButtonClass(3)" @onclick="(async () => SetSelectedTab(3))">Bans</div>
                    <div class="@GetButtonClass(4)" @onclick="(async () => SetSelectedTab(4))">Roles</div>
                </div>
                <div class="col-9 edit-planet-col-right">
                    @switch (selected)
                    {
                        case 0:
                            <EditPlanetInfoComponent Planet="Planet"></EditPlanetInfoComponent>
                            break;
                        case 1:
                            <EditPlanetInvitesComponent Planet="Planet"></EditPlanetInvitesComponent>
                            break;
                        case 2:
                            <EditPlanetUsersComponent></EditPlanetUsersComponent>
                            break;
                        case 3:
                            <EditPlanetBansComponent></EditPlanetBansComponent>
                            break;
                        case 4:
                            <EditPlanetRolesComponent></EditPlanetRolesComponent>
                            break;
                        default:
                            break;

                    }
                </div>
            </div>
        </div>
    </body>
}
else
{
    <h5>Loading planet details...</h5>
}

@code {
    [Parameter]
    public ClientPlanet Planet { get; set; }

    public string GetButtonClass(int tab)
    {
        if (buttonStates[tab])
        {
            return "settings-button active";
        }

        return "settings-button";
    }

    public bool[] buttonStates = new bool[5]
    {
        true, false, false, false, false
    };

    public int selected = 0;

    protected override async Task OnInitializedAsync()
    {

    }

    public void SetSelectedTab(int tab)
    {
        Console.WriteLine("Set selected to " + tab);

        for (int i = 0; i < buttonStates.Length; i++)
        {
            buttonStates[i] = false;
        }

        buttonStates[tab] = true;

        selected = tab;

        StateHasChanged();
    }
}