<div class="@Chosen_CSS">
    <img class="pfp" src="@pfpurl" @onerror="OnPfpError" style="@style">
    <div class="user-info">
        <p class="username" style="color: @roleColor">
            @if (Member.Nickname.Length > 16)
            {
                @Member.Nickname.Substring(0, 15)
            }
            else
            {
                @Member.Nickname
            }
        </p>
        @((MarkupString)StaffString)
        @((MarkupString)BotString)
        <br>
        <div class="user-status-state">
            <div class="active-circle">
            </div>
            <p class="state">
                @state
            </p>
        </div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters

    [Parameter]
    public ClientPlanetMember Member { get; set; }

    [Parameter]
    public bool First { get; set; }
    [Parameter]
    public bool Last { get; set; }
    [Parameter]
    public bool Only { get; set; }

    public string roleColor = "#ffffff";

    public string state = "";

    public string BotString = "";

    public string StaffString = "";

    public string name = "";

    public string Chosen_CSS
    {
        get
        {
            if (Only)
            {
                return "sidebar-user only";
            }
            else if (First)
            {
                return "sidebar-user first";
            }
            else if (Last)
            {
                return "sidebar-user last";
            }
            else
            {
                return "sidebar-user";
            }
        }
    }

    public string pfpurl = "/icon-512.png";
    public string style = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if ((await Member.GetUserAsync()).Bot)
        {
            BotString = "<div class='bot-tag'><p>BOT</p></div>";
        }

        if ((await Member.GetUserAsync()).Valour_Staff)
        {
            StaffString = "<div class='staff-tag'><p>STAFF</p></div>";
        }

        name = await Member.GetNameAsync();

        roleColor = await Member.GetColorHexAsync();

        state = await Member.GetStateAsync();

        string pfp = await Member.GetPfpAsync();

        if (!string.IsNullOrWhiteSpace(pfp))
        {
            pfpurl = pfp;
        }
    }

    protected async Task OnPfpError()
    {
        pfpurl = "/icon-512.png";

        int r = ClientUserManager.Random.Next(24) * 15;

        style = $"filter: hue-rotate({r}deg) saturate(2)";

        StateHasChanged();
    }
}
