<div id="m-@Message.Channel_Id-@Message.Message_Index" class="message">
    <div style="display:inline-block">
        <img class="author-pfp" src="@pfpurl" @onerror="OnPfpError" />
        <div class="time-container">
            <p class="time">
                @Message.TimeSent.ToLocalTime().ToShortTimeString().Replace(' ', '\0')
            </p>
        </div>
    </div>
    <div class="message-content">
        @if (Author != null)
        {
            <p class="author-name" style="color: @Author.GetMainRoleColor();">
                @Author.Username
            </p>

            <p class="role-name">
                &nbsp;- Emperor
            </p>
        }
        else
        {
            <p class="author-name" style="color: #ffffff;">
                User not found
            </p>
        }
        <p class="content">
            @((MarkupString)Markdig.Markdown.ToHtml(Message.Content, MarkdownManager.pipeline))
        </p>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClientPlanetMessage Message { get; set; }

    private PlanetUser Author;

    string pfpurl = "/icon-512.png";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Author = await Message.GetAuthorAsync();

        if (Author != null && !string.IsNullOrWhiteSpace(Author.Pfp_Url))
        {
            pfpurl = Author.Pfp_Url;
        }
    }

    protected async Task OnPfpError()
    {
        pfpurl = "/icon-512.png";

        Console.WriteLine("pfp error caught");

        StateHasChanged();
    }

}
