<div class="message">
    <div style="display:inline-block">
        @if (Message.Author != null)
        {
            <img class="author-pfp" src="@Message.Author.Pfp_Url" />
        }
        else
        {
            <img class="author-pfp" src="~/icon-512.png" />
        }
        <p class="time">
            @Message.TimeSent.ToShortTimeString()
        </p>
    </div>
    <div class="message-content">
        @if (Message.Author != null)
        {
            <p class="author-name" style="color: @Message.Author.GetMainRoleColor();">
                @Message.Author.Username
            </p>
        }
        else
        {
            <p class="author-name" style="color: #ffffff;">
                User not found
            </p>
        }
        <p class="content">
            @Message.Content
        </p>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClientPlanetMessage Message { get; set; }
}
