<div class="message">
    <div style="display:inline-block">
        @if (Author != null)
        {
            <img class="author-pfp" src="@Author.Pfp_Url" />
        }
        else
        {
            <img class="author-pfp" src="~/icon-512.png" />
        }
        <p class="time">
            @Message.TimeSent.ToLocalTime().ToShortTimeString()
        </p>
    </div>
    <div class="message-content">
        @if (Author != null)
        {
            <p class="author-name" style="color: @Author.GetMainRoleColor();">
                @Author.Username
            </p>
        }
        else
        {
            <p class="author-name" style="color: #ffffff;">
                User not found
            </p>
        }
        <p class="content">
            @Message.Content
        </p>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public PlanetMessage Message { get; set; }

    private PlanetUser Author;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();

        base.OnInitialized();
        Author = await Message.GetAuthorAsync();
    }

}
