<h3>Basic Details</h3>
<hr />
<br />

<div class="settings-inner">
    <span class="text-danger">@errorSpan</span>
    
    <br/>
    
    <p>Name</p>
    <input class="form-control" type="text" @bind-value="@nameValue"/>
    <span id="result-span" class="text-info">@nameSpan</span>

    <div class="mb-2"></div>

    <br/>

    <p>Description</p>
    <textarea class="form-control" type="text" @bind="@descValue" @bind:event="oninput"></textarea>
    <span id="result-span" class="text-info">@descSpan</span>

    <div class="btn btn-outline-primary settings-save-button" @onclick="OnSaveChanges">Save</div>
</div>


@code {
    [Parameter]
    public PlanetChannel Channel { get; set; }

    public string nameValue;
    public string descValue;

    public string errorSpan;

    public string nameSpan;
    public string descSpan;

    protected override async Task OnInitializedAsync()
    {
        nameValue = Channel.Name;
        descValue = Channel.Description;

        errorSpan = "";
        
        StateHasChanged();
    }

    public async Task OnSaveChanges()
    {
        if (nameValue != Channel.Name || descValue != Channel.Description)
        {
            Channel.Name = nameValue;
            Channel.Description = descValue;

            TaskResult<PlanetChannel> result = await Api.Items.LiveModel.UpdateAsync(Channel);

            if (!result.Success)
            {
                errorSpan = "Failed to save changes. Try again?";
            }
            else
            {
                nameSpan = "Changes saved successfully.";
            }
        }

        StateHasChanged();
    }
}
