<h3>Basic Details</h3>
<hr />
<br />

<div class="settings-inner">
    <span class="text-danger">@_errorSpan</span>
    
    <br/>
    
    <p>Name</p>
    <input class="form-control" type="text" @bind-value="@_nameValue"/>
    <span class="text-info">@_nameSpan</span>

    <div class="mb-2"></div>

    <br/>

    <p>Description</p>
    <textarea class="form-control" type="text" @bind="@_descValue" @bind:event="oninput"></textarea>
    <span class="text-info">@_descSpan</span>

    <div class="btn btn-outline-primary settings-save-button" @onclick="OnSaveChanges">Save</div>
</div>


@code {
    [Parameter]
    public Channel Channel { get; set; }

    private string _nameValue;
    private string _descValue;

    private string _errorSpan;

    private string _nameSpan;
    private string _descSpan = null;

    protected override void OnInitialized()
    {
        _nameValue = Channel.Name;
        _descValue = Channel.Description;
        _errorSpan = "";
        
        StateHasChanged();
    }

    private async Task OnSaveChanges()
    {
        if (_nameValue != Channel.Name || _descValue != Channel.Description)
        {
            Channel.Name = _nameValue;
            Channel.Description = _descValue;

            var result = await ClientModel.UpdateAsync(Channel);
            if (!result.Success)
            {
                _errorSpan = "Failed to save changes. Try again?";
            }
            else
            {
                _nameSpan = "Changes saved successfully.";
            }
        }

        StateHasChanged();
    }
}
