@inject ValourClient Client
@inherits Modal<BanModal.BanModalProps>

<BasicModalLayout Title="@Title" Icon="hammer" MaxWidth="500px">
    <MainArea>
        @if (_isSelf)
        {
            <p class="text-danger">You cannot ban yourself.</p>
        }
        else
        {
            <p>This will remove them from the planet and prevent them from rejoining.</p>
            
            <UserInfoComponent Member="@Data.Member" 
                               Style="
                               background-color: var(--main-3); 
                               display: inline-block; 
                               border-radius: var(--radius-md);
                               padding-right: 0.5em;
                               scale: 1.5;
                               margin-top: 1.5em;
                               margin-bottom: 2em" />
            
            <div class="form-group">
                <label>Time (0 or Permanent for permanent)</label>
                <div class="duration-input">
                    <InputNumber class="form-control" TValue="@int" @bind-Value="@_durationAmount" disabled="@(_durationUnit == DurationUnit.Permanent)"></InputNumber>
                    <InputSelect class="form-control" @bind-Value="@_durationUnit">
                        @foreach (var unit in Enum.GetValues<DurationUnit>())
                        {
                            <option value="@unit">@unit</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="form-group">
                <label>Reason (Optional)</label>
                <input type="text" class="form-control" @bind-value="@_reason"/>
            </div>

            <ResultLabel Result="@_result" />
        }
    </MainArea>
    <ButtonArea>
        <div class="basic-modal-buttons">
            <button @onclick="@OnCancel" class="v-btn">Cancel</button>
            @if (!_isSelf)
            {
                <button @onclick="@OnConfirm" class="v-btn danger">Confirm</button>
            }
        </div>
    </ButtonArea>
</BasicModalLayout>

@code {
    private string Title => Data.Member.Nickname is null ? "Ban" : $"Ban {Data.Member.Nickname}";
    private bool _isSelf;

	private string _reason;
	private int _durationAmount;
	private DurationUnit _durationUnit = DurationUnit.Minutes;

	private ITaskResult _result;
	
    public class BanModalProps
    {
        public PlanetMember Member;
    }
	
	protected override void OnInitialized()
	{
		_isSelf = Data.Member.UserId == Client.Me.Id;
	}
	
	private async Task OnConfirm()
	{
		if (_isSelf) return;
		
		var expires = DateTime.UtcNow;
		if (!_durationUnit.IsPermanent(_durationAmount))
			expires = _durationUnit.AddTo(expires, _durationAmount);

		var reason = _reason;
		if (string.IsNullOrWhiteSpace(reason))
			reason = $"Banned by ${Client.Me.NameAndTag}";
		
		var ban = new PlanetBan(Client)
		{
			PlanetId = Data.Member.PlanetId,
			TargetId = Data.Member.UserId,
			IssuerId = Client.Me.Id,
			TimeExpires = expires,
			TimeCreated = DateTime.UtcNow,
			Reason = reason
		};

		_result = await ban.CreateAsync();
		
		if (_result.Success)
		{
			Close();
		}
		
		StateHasChanged();
	}
	
	private void OnCancel()
	{
		Close();
	}
}
