@inherits Modal<ChangePasswordModal.Params>
@inject ValourClient Client

<div class="col-md-12">
    <section class="modal-bg">
        <h3>Change your password</h3>
        <h5>You will no longer be able to log in with the old one</h5>
		
        <div class="form-group mt-2">
            <label class="m-2">Password</label>
            <input id="password-input" type="password" autocomplete="current-password" class="form-control" @bind-value="@_password" />
            <label class="m-2">New Password</label>
            <input id="new-password-input" type="password" autocomplete="new-password" class="form-control" @bind-value="@_newPassword" />
            <label class="m-2">Confirm New Password</label>
            <input id="new-password-confirm-input" type="password" autocomplete="new-password" class="form-control" @bind-value="@_newPasswordConfirm" />
        </div>
        <br />
        
        <ResultLabel Result="@_result" />
        
        <br />
        <div @onclick="@OnCancel" class="btn v-btn d-inline-block">Cancel</div>
        <div @onclick="@OnConfirm" class="btn v-btn danger d-inline-block">Confirm</div>
    </section>
</div>

@code {
    public class Params {}
	
    private string _password = "";
    private string _newPassword = "";
    private string _newPasswordConfirm = "";
    
    private ITaskResult _result;

    private async Task OnConfirm()
    {
        if (_newPassword != _newPasswordConfirm)
        {
            _result = new TaskResult(false, "Confirmation does not match new password");
            return;
        }

        var toastData = new ProgressToastData<TaskResult>()
        {
            ProgressTask = Client.UpdateMyPasswordAsync(_password, _newPassword),
            Title = "Changing Password",
            Message = "Updating...",
            SuccessMessage = "Password updated!",
        };
        
        var result = await ToastContainer.Instance.WaitToastWithTaskResult(toastData);
        if (result.Success)
        {
            Close();
        }
        else
        {
            _result = result;
            StateHasChanged();   
        }
    }

    private void OnCancel() => Close();
}