@inherits Modal<ReportModalComponent.ModalParams>
@inject SafetyService SafetyService

<BasicModalLayout Title="@GetTitle()" Icon="flag-fill" MaxWidth="500px">
    <MainArea>
        <div style="max-height: 40vh; overflow: auto">
            @switch (_page)
            {
                case 0:
                {
                    <h3>Why are you reporting this content?</h3>
                    <div class="report-reasons">
                        @foreach (var reason in ReportReasons.Reasons)
                        {
                            var r = reason;

                            <button class="btn v-btn large" style="width: 100%; margin-bottom: 0.5em" @onclick="() => OnSelectReason(reason.Code)">
                                <h4>@reason.Title</h4>
                                <p>@reason.Description</p>
                            </button>
                        }
                    </div>
                    break;
                }
                case 1:
                {
                    <h3>Describe the incident</h3>
                    <div class="form-group">
                        <textarea class="form-control" @bind="@Data.Report.LongReason" rows="5" placeholder="Please provide details about the incident..."></textarea>
                    </div>
                    break;
                }
                case 2:
                {
                    <h4>@_response</h4>
                    break;
                }
            }
        </div>
    </MainArea>
    <ButtonArea>
        <div class="basic-modal-buttons">
            @if (_page == 1)
            {
                <button @onclick="@OnClickCancel" class="v-btn">Cancel</button>
                <button @onclick="OnClickSubmitAsync" class="v-btn primary">Submit Report</button>
            }
            else if (_page == 0)
            {
                <button @onclick="@OnClickCancel" class="v-btn">Cancel</button>
            }
            else
            {
                <button @onclick="@OnClickCancel" class="v-btn">Close</button>
            }
        </div>
    </ButtonArea>
</BasicModalLayout>

@code {

    public class ModalParams
    {
        public Report Report;
    }

    private int _page = 0;
    private string _response = "";

    private string GetTitle()
    {
        return _page switch
        {
            0 => "Report Content",
            1 => "Describe Incident",
            2 => "Report Submitted",
            _ => "Report Content"
        };
    }

    private void OnSelectReason(ReportReasonCode reasonCode)
    {
        Data.Report.ReasonCode = reasonCode;
        _page = 1;
        StateHasChanged();
    }

    private async Task OnClickSubmitAsync()
    {
        var result = await SafetyService.PostReportAsync(Data.Report);
        if (!result.Success)
            _response = result.Message;
        else
            _response = "Report submitted successfully. Thank you for making Valour a safe place for our communities.";
        
        _page = 2;
        StateHasChanged();
    }
    
    private void OnClickCancel()
    {
        Close();
    }
}