@implements IDisposable

@inject WindowManager windowManager
@inject ChannelListManager listManager

<div
    class="@Chosen_CSS"
    draggable="true" 
    id="@Channel.Id"
    
    @onclick:stopPropagation="true"
    @onclick="OnClick"
    
    @ondragstart:stopPropagation="true"
    @ondragstart="@OnDragStart"
    
    @ondrop:stopPropagation="true"
    @ondrop="@OnDropOn" 
    
    @onpointerdown:stopPropagation="true"
    @onpointerdown='@PrepareContext'
    
    @ondragenter:stopPropagation="true"
    @ondragenter="@OnDragEnter"
    
    @ondragleave:stopPropagation="true"
    @ondragleave="@OnDragLeave"
>
    
    @{ var iconData = GetIconData(); }
    
    <img class="channel-icon" src="@iconData[0]" alt="@iconData[1]"/>
    <p class="name">
        @Channel.Name
    </p>
</div>
@code {

    private static string[] _lockUnreadSrc = new[] { "_content/Valour.Client/media/Channel-Filled-Icon-with-lock.svg", "Chat channel with unread messages" };
    private static string[] _unlockUnreadSrc = new[] { "_content/Valour.Client/media/Channel-Filled-Icon.svg", "Chat channel with unread messages" };
    private static string[] _lockReadSrc = new[] { "_content/Valour.Client/media/Channel-Icon-with-lock.svg", "Chat channel without unread messages" };
    private static string[] _unlockReadSrc = new[] { "_content/Valour.Client/media/Channel-Icon.svg", "Chat channel without unread messages" };

    private bool _render = true;
    protected override bool ShouldRender() => _render;

    protected override void OnAfterRender(bool firstRender)
    {
        _render = false;
    }

    public void Refresh()
    {
        _render = true;
        StateHasChanged();
    }

    private string[] GetIconData()
    {
        if (IsUnread)
        {
            if (HasLock)
            {
                return _lockUnreadSrc;
            }
            else
            {
                return _unlockUnreadSrc;
            }
        }
        else
        {
            if (HasLock)
            {
                return _lockReadSrc;
            }
            else
            {
                return _unlockReadSrc;
            }
        }
    }
    
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public PlanetChatChannel Channel { get; set; }

    [Parameter]
    public CategoryListComponent ParentCategory { get; set; }

    public bool HasLock  { get; set; }
    
    public bool IsUnread { get; set; }

    public string Chosen_CSS
    {
        get
        {
            var css = "channel";

            if (windowManager.GetWindows().OfType<ChatChannelWindow>().Any(x => x.Channel.Id == Channel.Id))
                css += " open";

            if (listManager.DragOverId == Channel.Id)
                css += " drag-over";
            
            return css;
        }
    }

    private void OnDragEnter()
    {
        listManager.OnDragEnterItem(this.Channel.Id);
        Refresh();
    }

    private void OnDragLeave()
    {
        Refresh();
    }

    private async Task OnDropOn()
    {
        await listManager.OnItemDropOnChatChannel(this);
        Refresh();
    }

    private async Task PrepareContext()
    {
        await ChannelListContextMenuComponent.SetSelectedItem(Channel);
    }

    private void OnDragStart()
    {
        listManager.OnItemStartDragInCategory(Channel, ParentCategory);
    }

    private async Task OnClick()
    {

        listManager.OnItemClickInCategory(Channel, ParentCategory);

        var window = windowManager.GetSelectedWindow();
        
        if (window is ChatChannelWindow channelWindow)
        {
            // It's the same channel, cancel
            if (channelWindow.Channel.Id == Channel.Id)
                return;

            await channelWindow.Component.SwapChannel(Channel);
        }
        else
        {
            var planet = await Channel.GetPlanetAsync();
            await windowManager.ReplaceWindow(window, new PlanetChatChannelWindow(planet, Channel));
        }
        
        Refresh();
    }

    public async Task OnChatChannelUpdate(ModelUpdateEvent<PlanetChatChannel> eventData)
    {
        var channel = eventData.Model;
        if (Channel.Id == channel.Id)
        {
            await DetermineLock();
            Refresh();
        }
    }

    public async Task OnChannelOpenedChange(PlanetChatChannel channel)
    {
        //if (channel.Id == Channel.Id)
        Refresh();
    }

    public async Task DetermineLock()
    {
        HasLock = false;
        Planet planet = await Channel.GetPlanetAsync();

        var role = await planet.GetDefaultRoleAsync();

        var node = await Channel.GetPermNodeAsync(role.Id, ChannelType.PlanetChatChannel);
        if (node is not null) {
            var state = node.GetPermissionState(ChatChannelPermissions.View);
            if (state == PermissionState.False)
                HasLock = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Console.WriteLine("Init " + Channel.Name);

        ModelObserver<PlanetChatChannel>.OnAnyUpdated += OnChatChannelUpdate;

        ValourClient.OnChannelOpen += OnChannelOpenedChange;
        ValourClient.OnChannelClose += OnChannelOpenedChange;

        ValourClient.OnUserChannelStateUpdate += OnUserChannelStateUpdate;
        ValourClient.OnChannelStateUpdate += OnChannelStateUpdate;

        DetermineUnread();
        await DetermineLock();
    }

    public async Task OnUserChannelStateUpdate(UserChannelState state)
    {
        if (state.ChannelId != Channel.Id)
            return;

        DetermineUnread();
        Refresh();
    }

    public async Task OnChannelStateUpdate(ChannelStateUpdate state)
    {
        if (state.ChannelId != Channel.Id)
            return;

        DetermineUnread();
        Refresh();
    }

    public void Dispose()
    {
        // Console.WriteLine("Disposed " + Channel.Name);

        ModelObserver<PlanetChatChannel>.OnAnyUpdated -= OnChatChannelUpdate;

        ValourClient.OnChannelOpen -= OnChannelOpenedChange;
        ValourClient.OnChannelClose -= OnChannelOpenedChange;
        ValourClient.OnUserChannelStateUpdate -= OnUserChannelStateUpdate;
        ValourClient.OnChannelStateUpdate -= OnChannelStateUpdate;
    }

    public void DetermineUnread()
    {
        IsUnread = ValourClient.GetChannelUnreadState(Channel.Id);
    }
}