@using Valour.Shared
@using Valour.Sdk.Client
@using Valour.Client.Device
@using Valour.Client.Layout
@using Valour.Client.Components.Utility
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Routing
@using Blazored.LocalStorage
@using Valour.Client.Components.Sounds
@using Valour.Client.Utility
@using Valour.Client.Components.Theme

@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage

<UpdateBanner />

<!-- Enable app sounds -->
<SoundsComponent @key="@("sounds-component")"></SoundsComponent>
<KeyboardListener />

<!-- Enable app cookies -->
<CookiesComponent></CookiesComponent>

<ThemeComponent />

@if (_triedInitialLogin)
{
    <!-- Main routing component -->
    <Router AppAssembly="@typeof(Valour.Client.Pages.Index).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}
else
{
    <Loading Subtext='Logging you in...'></Loading>
}



@code{

    private bool _triedInitialLogin;
    
    // Runs when page is initialized
    protected override async Task OnInitializedAsync()
    {
        await DevicePreferences.LoadPreferences(LocalStorage);
        await LogToConsole("Loaded user preferences", "magenta");
        
        ColorLogger.App = this;
        ColorLogger.Setup();

        await JsRuntime.InvokeAsync<object>(
          "blazorFuncs.registerClient",
          DotNetObjectReference.Create(this)
        );

        // Request notifications in background
        _ = RequestNotificationSubscriptionAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isMobile = await JsRuntime.InvokeAsync<bool>("IsMobile");
            var isEmbedded = await JsRuntime.InvokeAsync<bool>("IsEmbedded");

            DeviceInfo.IsMobile = isMobile;
            DeviceInfo.IsEmbedded = isEmbedded;
            
            if (!ValourClient.IsLoggedIn)
            {
                var cookieToken = await JsRuntime.GetCookieAsync("token");

                if (!string.IsNullOrWhiteSpace(cookieToken))
                {
                    var result = await ValourClient.InitializeUser(cookieToken);

                    if (result.Success) {
                        await ColorLogger.Log($"Auto-logged user {result.Data.Name}", "magenta");
                    }
                }
            }

            _triedInitialLogin = true;

            StateHasChanged();
        }
    }

    public async Task RequestNotificationSubscriptionAsync()
    {
        var subscription = await JsRuntime.InvokeAsync<Notifications.NotificationSubscription>("blazorPushNotifications.requestSubscription");
        if (subscription != null)
        {
            try
            {
                await ValourClient.PrimaryNode.PostAsync($"api/notification/subscribe", subscription);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }

    public async Task LogToConsole(string msg, string color = "white")
    {
        await JsRuntime.InvokeVoidAsync($"Log", msg, color);
    }

    [JSInvokable("NotifyPushSub")]
    public static async Task NotifyPushSub(string endpoint, string key, string auth)
    {
        Console.WriteLine(endpoint);
        Console.WriteLine(key);
        Console.WriteLine(auth);

        Sdk.Models.NotificationSubscription not = new()
        {
            Endpoint = endpoint,
            Auth = auth,
            Key = key,
            UserId = ValourClient.Self.Id
        };

        // Send subscription information to server
        var response = await ValourClient.PostAsyncWithResponse<TaskResult>($"Notification/SubmitSubscription", not);

        Console.WriteLine(response.Message);
    }
}
