@using Valour.Shared
@using Valour.Sdk.Client
@using Valour.Client.Device
@using Valour.Client.Layout
@using Valour.Client.Components.Utility
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Routing
@using Blazored.LocalStorage
@using Valour.Client.Components.Sounds
@using Valour.Client.Utility
@using Valour.Client.Components.Theme
@using Valour.Client.Components.DockWindows
@using Valour.SDK.Services

@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage

<BrowserUtils Logger="@_logger" />

<UpdateBanner />

<!-- Enable app sounds -->
<SoundsComponent @key="@("sounds-component")"></SoundsComponent>

<!-- Enable event listeners -->
<KeyboardListener />
<MouseListener />

<!-- Enable themes -->
<ThemeComponent />

<!-- Window Target helper -->
<WindowTargetScanner />

@if (_triedInitialLogin)
{
    <!-- Main routing component -->
    <Router AppAssembly="@typeof(Valour.Client.Pages.Index).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}
else
{
    <Loading Subtext='Logging you in...'></Loading>
}

@code{

    public static ValourClient Client;
    
    // Private because you should be using Client.Logger
    private LoggingService _logger;
    
    private bool _triedInitialLogin;

    protected override async Task OnInitializedAsync()
    {
        _logger = new LoggingService(false);
        _logger.AddColorLogger(Log); // Add 
        
        await DevicePreferences.LoadPreferences(LocalStorage);
        _logger.Log("App", "Loaded user preferences", "magenta");
    }

    // Runs when page is initialized
    private async Task FirstRenderAsync()
    {
        var uriData = await BrowserUtils.GetUriData();
        _logger.Log("App", $"Origin is {uriData.Origin}", "magenta");
        
        // Setup client with hostname and logger
        Client = new ValourClient(uriData.Origin, _logger);
        
        _ = JsRuntime.InvokeAsync<object>(
            "blazorFuncs.registerClient",
            DotNetObjectReference.Create(this)
        );

        // Request notifications in background
        _ = RequestNotificationSubscriptionAsync();
    }

    private async Task OnBrowserReady()
    {
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FirstRenderAsync();
            
            var isMobile = await JsRuntime.InvokeAsync<bool>("IsMobile");
            var isEmbedded = await JsRuntime.InvokeAsync<bool>("IsEmbedded");

            DeviceInfo.IsMobile = isMobile;
            DeviceInfo.IsEmbedded = isEmbedded;
            
            if (!Client.IsLoggedIn)
            {
                var cookieToken = await JsRuntime.GetCookieAsync("token");

                if (!string.IsNullOrWhiteSpace(cookieToken))
                {
                    var result = await Client.InitializeUser(cookieToken);

                    if (result.Success) {
                        Log("App", $"Auto-logged user {Client.Self.Name}", "magenta");
                    }
                }
            }

            _triedInitialLogin = true;

            StateHasChanged();
        }
    }

    public async Task RequestNotificationSubscriptionAsync()
    {
        var subscription = await JsRuntime.InvokeAsync<Notifications.NotificationSubscription>("blazorPushNotifications.requestSubscription");
        if (subscription != null)
        {
            try
            {
                await Client.PrimaryNode.PostAsync($"api/notification/subscribe", subscription);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }

    public void Log(string prefix, string msg, string color)
    {
        _ = JsRuntime.InvokeVoidAsync($"Log", $"[{prefix}] {msg}", color);
    }

    [JSInvokable("NotifyPushSub")]
    public static async Task NotifyPushSub(string endpoint, string key, string auth)
    {
        Sdk.Models.NotificationSubscription not = new()
        {
            Endpoint = endpoint,
            Auth = auth,
            Key = key,
            UserId = Client.Self.Id
        };

        // Send subscription information to server
        var response = await Client.PrimaryNode.PostAsyncWithResponse<TaskResult>($"Notification/SubmitSubscription", not);
        Console.WriteLine(response.Message);
    }
}
